.error404 {

  .main {
    h1 {
      text-align: center;
    }

    .alert {
      padding: 1rem;
      text-align: center;
    }

    .search-form {
      width: 260px;
      margin: 1rem auto;
    }
  }
}
