body {
  .button {
    position: relative;
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 3px solid #000 !important;
    transition: all 800ms ease;
    font-weight: 600 !important;
    color: #000 !important;
    display: inline-block !important;
    text-align: center !important;

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      border-width: 2px !important;
    }

    //LARGE
    &.large-button {
      padding: .5rem 2rem;

      @include media-breakpoint-down(sm) {
        padding: .4rem 1rem;
      }
    }

    &:hover {
      text-decoration: none !important;
      cursor: pointer;
      background-color: #000 !important;
      color: #FFF !important;
    }

    //WHITE
    &.white-button {
      color: #FFF !important;
      border: 3px solid #FFF !important;

      @include media-breakpoint-down(sm) {
        border-width: 2px !important;
      }

      &:hover {
        cursor: pointer;
        background-color: #FFF !important;
        color: #000 !important;
      }
    }
  }
}
