
/*  Comments
------------------------------------------------------------------*/
.comments {

  .comment-list {
    margin-bottom: 4rem;
    padding-left: 1rem;

    .comment {
      margin: 0;
      padding: 0;
      list-style: numeric;
    }
  }

  .comment-body {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .comment-meta {
    margin-bottom: .5rem;

    .avatar {
      margin-top: 1rem;
    }

    .comment-metadata {
      font-size: 11px;
      margin: -1rem 0 2rem 38px;
    }

    .comment-author  {
      font-size: 14px;
    }
  }

  .reply {
    text-align: left;

    .comment-reply-link {
      font-size: 11px;
    }
  }

}

/*  Titles
------------------------------------------------------------------*/
.comments {

  h2 {
    margin-bottom: 2rem;
  }

  .comment-reply-title {
    font-size: 20px;
  }
}
