
/* CSS Diamond
--------------------------------------------------------*/
.diamond {
  display: block;
  border-style: solid;
  border-color: transparent transparent $brand-primary transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 50px 0;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: $brand-primary transparent transparent transparent;
    border-width: 70px 50px 0 50px;
    z-index: 1;
  }
}
