/* Password protected
---------------------------------------------------------------*/
.password-protected {
  padding-top: 15vh;
  padding-bottom: 15vh;
  min-height: 300px;
  label,
  input {
    width: 100%;
  }
}

select {
  background-image: url('../images/select-arrow.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 98% center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Search form
---------------------------------------------------------------*/
.search-form,
.woocommerce-product-search {
  position: relative;

  input[type="search"] {
    border-radius: 24px;
    height: 30px;
  }

  input[type="submit"],
  button[type="submit"] {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    background-color: transparent;
    border-radius: 0;
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1;
    text-indent: -9999px;
    overflow: hidden;
    color: $brand-primary;
    font-size: 13px;
  }

  &::after {
    content: "\f002";
    position: absolute;
    top: 4%;
    right: 4%;
    color: $brand-primary;
    font-size: 18px;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Input, textarea
---------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
input[type="date"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="tel"],
textarea {
  border: 1px solid #CCC;
  padding: .6rem;
  display: inherit;
  width: 100%;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  transition: all 1s ease;
  font-size: 15px;
  box-shadow: none;

  &:focus {
    border: 1px solid #000;
    border-radius: 0;
    box-sizing: border-box;
  }
}

select {
  border: 1px solid #CCC;
  box-shadow: none;

  &:focus {
    border: 1px solid #000;
  }
}


/* Gravity Forms - turn off the Gravity Forms CSS before styling
----------------------------------------------------------------*/
.gform_fields,
.gfield_radio,
.gfield_checkbox {
  @extend .no-bullet;
  padding-left: 0;
}

.gform_button {
  @extend .btn;
}

.gform_wrapper {
  padding:0;

  .gform_description {
    display:block;
    margin-bottom: 1rem;
  }

  .gform_body {
    margin-bottom: 2rem;
  }

  ul {
    margin:0;
    padding:0;

    li {
      width: 100%;
      list-style: none;
      margin-bottom: 1rem;
    }
  }
}


/* Gravity Forms - Error Notification
---------------------------------------------------------------*/
.gform_confirmation_wrapper,
.validation_error {
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.validation_error {
  background-color: red;
  color: #FFF;
}

.validation_message {
  font-size: 12px;
  position: relative;
  top: 4px;
  left: 4px;
  color: red;
}


/* Gravity Forms - Success Notification
---------------------------------------------------------------*/
.gform_confirmation_wrapper {
  background-color: $brand-primary;
  color: #FFF;
}
