// Image styling

.fx-text-editor,
.entry-content {
  figure {
    @extend .img-fluid;
    img {
      @extend .img-fluid;
    }
  }
}

.fx-image,
.featured-img {
  @extend .img-fluid;
  img {
    @extend .img-fluid;
  }
}
