/*  Preloader elements
------------------------------------------------------*/
.main-preloader {
  display: block;
  background-color: $bg_color;
  z-index: 9999;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  transition: all 420ms ease 320ms;

  .loading-text {
    position: relative;
    top: 290px;
    left: -15px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: opacity 220ms ease;
    opacity: 0;
    font-weight: 600;
    font-size: 14px;
    color: #333;

    @include media-breakpoint-down(md) {
      top: 230px;
    }

    @include media-breakpoint-down(sm) {
      top: 190px;
    }
  }
}

/*  Diamond icon
------------------------------------------------------*/
.main-preloader {
  .svg-kiradonjewel-logo-diamond {
    position: relative;
    top: 300px;
    left: 10px;
    right: auto;
    bottom: auto;
    width: 160px;
    height: auto;
    transition: all 600ms ease; //move logo to top

    @include media-breakpoint-down(md) {
      top: 240px;
    }

    @include media-breakpoint-down(sm) {
      top: 200px;
    }

    path {
      fill: #000;
      stroke: #000;
      transition: fill-opacity 600ms ease; //stroke opacity
      fill-opacity: 0;
      opacity: 0;
    }
  }
}

//loading
body {
  &.diamond-loading {
    .main-preloader {
      opacity: 1;
      z-index: 9999;

      .svg-kiradonjewel-logo-diamond {
        path {
          opacity: 1;
          stroke-width: 1;
          stroke-dasharray: 870;
          stroke-dashoffset: 870;
          animation: drawsvg 2.2s ease-in-out 80ms alternate 1 both; //4900 delay
        }
      }
    }
  }
}


//only HOMEPAGE
body {
  &.home {
    .main-preloader {
      background-color: $bg_color;

      .svg-kiradonjewel-logo-diamond{
        path {
          fill: #000 !important;
          stroke: #000 !important;
        }
      }

      .loading-text {
        color: #000;
      }
    }
  }
}


//stroke and text opacity
body {
  &.end-transition {
    .main-preloader {
      .svg-kiradonjewel-logo-diamond {
        path {
        	stroke-width: 1;
        	fill-opacity: 1;
        }
      }

      .loading-text {
        opacity: 1;
      }
    }
  }
}

//move to top
body {
  &.diamond-loaded {
    .main-preloader {
      .svg-kiradonjewel-logo-diamond {
        transform: scale(.22);
        left: 18px;
        top: -6px;
      }
    }
  }
}

//Wrapper hide
body {
  &.diamond-loaded {
    .main-preloader {
      opacity: 0;
      z-index: -1;
    }
  }
}


/* Logo loading - normal
------------------------------------------------------*/
body {
  &.loading {
    .main-preloader {
      .svg-kiradonjewel-logo-diamond {
        path {
          opacity: 1;
          stroke-width: 1;
        	fill-opacity: 1;
        }
        animation: heartbit .5s ease infinite 0s alternate both running;
      }

      .loading-text {
        opacity: 1;
      }
    }
  }

  &.loading {
    .main-preloader {
      opacity: 1;
      z-index: 9999;
    }
  }

  &.loaded {
    .main-preloader {
      transition-delay: .3s;
      opacity: 0 !important;
      z-index: -1 !important;
    }
  }
}


/* Transition between pages !IMPORTT
------------------------------------------------------*/
.main-header-wrapper,
.page-header,
.footer-newsletter-form,.footer-info,.social-icons,.footer-bottom,
.main-content[role=document] {
  opacity: 0; /* Use with caution - set to 1 if there is a bug */
  transition: all 720ms ease;
}

body {
  &.loaded {
    .main-header-wrapper,
    .page-header,
    .footer-newsletter-form,.footer-info,.social-icons,.footer-bottom,
    .main-content[role=document] { opacity: 1 !important; }
  }
}
