.search-post {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f1f1f1;

  .entry-title {
    margin-bottom: 1rem;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .read-more {
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 0 1px;
  }

  .entry-summary {
    display: flex;

    .col-img {
      width: 25%;
      margin: .4rem 1rem 1rem 0;
    }
  }
}

.search-results {
  .nav-links {
    text-align: center;
    div,
    a {
      width: auto;
      display: inline-block;
      padding: 0 3px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
