
/*  Share Post
------------------------------------------------------*/
.share-buttons {
  position:relative;
  overflow:hidden;
  cursor:pointer;

  .anchor-hover {
    font-size: 14px;
    color: #b3b3b3;
    @include transition(400ms);

    &:hover {
      text-decoration: none;
    }
    
    .plus {
      opacity: 1;
      @include transition(200ms);
    }
  }

  ul {
		position: absolute;
		width: 70px;
		height: auto;
		top: 1px;
    bottom:auto;
    right:auto;
    left:-80px;
		margin: 0;
		@include transition(400ms);

		li {
			float: left;
			margin: 0 4px;
      list-style: none;

			&:before {
				display: none;
			}
		}

		a {
			color: #000;
			text-decoration: none;
			position: relative;
			top:0;
			left: 0;
			right: auto;
			bottom: auto;
      font-size: 18px;
			@include transition(600ms);

			&:hover {
				top:-2px;
			}
		}
	}

  //Active
  &.active {
    .anchor-hover {
      color: #333;
    }
  }

  &.active,
  &:hover {
    ul {
      left: 80px;
    }

    .plus {
      opacity:0;
    }
  }
}


.share-buttons.share-page {

    ul {
      top:13px;
    }

    &.active,
    &:hover {
      ul {

        left: 220px;
      }
    }
}
