/*  FX Gallery
------------------------------------------------------*/
.fx-gallery {
  overflow: hidden;
  position: relative;
}

.absolute-arrows {
  position: relative;
  overflow: hidden;

  .arrow {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    min-height: 100%;
    z-index: 1;
    background-color:transparent;

    &.prev { left: 0; }
    &.next { right: 0; }
  }
}

.slick-slide {
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Dots
--------------------------------------------------------*/
.slick-dots {
  position: absolute;
  bottom: 4%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;

  span,
  a,
  button {
    cursor: pointer;
    text-indent: -9999px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 4px;
    border: 3px solid #FFF;
    border-radius: 50%;
    background-color: transparent;
    position: relative;

    @include media-breakpoint-down(sm) {
      height: 16px;
      width: 16px;
      border-width: 2px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
      transition: all 0.5s ease-in-out;
      height: 16px;
      width: 16px;
      transform: scale(0);
      display: block;
      border-radius: 50%;
      background-color: #FFF;
      opacity: 0;

      @include media-breakpoint-down(sm) {
        height: 14px;
        width: 14px;
        margin: -7px 0 0 -7px;
      }
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;

      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  li {
    list-style-type: none;
    display: inline;

    &.slick-active {
      span,
      a,
      button {
        &::after {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}
