

.wrap-stars {
 background-color: $stars_bg;
 width: 100%;
 min-height:100%;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: center;
 align-content: center;
 align-items: center;
 overflow: hidden;
}

#starfield,
#starfield-footer {
  position: absolute;
  left:0;
  top:0;
  width: 100% !important;
  height: 100% !important;
}


// TITLE CHARACTERS

.char1{ //H
  font-size:1.15em;
  left:0;
  color:#A7FF91;
  animation:bounce-in 1000ms linear both;
}
.char2{ //A
  font-size:0.75em;
  top:.25em;
  left:1.25em;
  color:#A6FFAA;
  animation:bounce-in 1000ms linear both;
  animation-delay:300ms;
}
.char3{ //L
  font-size:.65em;
  left:2.25em;
  top:0.25em;
  color:#8CFFBC;
  animation:bounce-in 1000ms linear both;
  animation-delay:500ms;
}
.char4{ //L
  font-size:.85em;
  left:2.25em;
  top:.25em;
  color:#A7FF91;
  animation:bounce-in 1000ms linear both;
  animation-delay:200ms;
}
.char5{ //O
  font-size:.55em;
  left:4.50em;
  top:0.5em;
  color:#A6FFAA;
  animation:bounce-in 1000ms linear both;
  animation-delay:250ms;
}
.char6{ //W
  font-size:.9em;
  left:3.21em;
  top:0.05em;
  color:#8CFFBC;
  animation:bounce-in 1000ms linear both;
  animation-delay:800ms;
}
.char7{ //E
  font-size:0.76em;
  left:4.95em;
  color:#A7FF91;
  animation:bounce-in 1000ms linear both;
  animation-delay:700ms;
}
.char8{ //E
  font-size:0.75em;
  left:5.8em;
  top:0.25em;
  color:#A6FFAA;
  animation:bounce-in 1000ms linear both;
  animation-delay:1100ms;
}
.char9{ //N
  font-size:1.15em;
  left:4.25em;
  top:-0.01em;
  color:#8CFFBC;
  animation:bounce-in 1000ms linear both;
  animation-delay:400ms;
}


@keyframes bounce-in{0%{transform:matrix3d(0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);
opacity:0;}3.333333%{transform:matrix3d(0.32635,0,0,0,0,.68602,0,0,0,0,1,0,0,0,0,1)}6.666667%{transform:matrix3d(0.61701,0,0,0,0,.90691,0,0,0,0,1,0,0,0,0,1)}10%{transform:matrix3d(0.86271,0,0,0,0,1.07226,0,0,0,0,1,0,0,0,0,1);opacity:1;}13.333333%{transform:matrix3d(1.03605,0,0,0,0,1.14684,0,0,0,0,1,0,0,0,0,1)}16.666667%{transform:matrix3d(1.13384,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1)}20%{transform:matrix3d(1.16809,0,0,0,0,1.08847,0,0,0,0,1,0,0,0,0,1)}23.333333%{transform:matrix3d(1.15775,0,0,0,0,1.02623,0,0,0,0,1,0,0,0,0,1)}26.666667%{transform:matrix3d(1.12245,0,0,0,0,.97964,0,0,0,0,1,0,0,0,0,1)}30%{transform:matrix3d(1.07861,0,0,0,0,.95863,0,0,0,0,1,0,0,0,0,1)}33.333333%{transform:matrix3d(1.03771,0,0,0,0,.9603,0,0,0,0,1,0,0,0,0,1)}36.666667%{transform:matrix3d(1.00612,0,0,0,0,.97507,0,0,0,0,1,0,0,0,0,1)}40%{transform:matrix3d(0.98596,0,0,0,0,.99261,0,0,0,0,1,0,0,0,0,1)}43.333333%{transform:matrix3d(0.9764,0,0,0,0,1.00574,0,0,0,0,1,0,0,0,0,1)}46.666667%{transform:matrix3d(0.97499,0,0,0,0,1.01166,0,0,0,0,1,0,0,0,0,1)}50%{transform:matrix3d(0.97875,0,0,0,0,1.01119,0,0,0,0,1,0,0,0,0,1)}53.333333%{transform:matrix3d(0.98493,0,0,0,0,1.00702,0,0,0,0,1,0,0,0,0,1)}56.666667%{transform:matrix3d(0.99143,0,0,0,0,1.00208,0,0,0,0,1,0,0,0,0,1)}60%{transform:matrix3d(0.99693,0,0,0,0,.99838,0,0,0,0,1,0,0,0,0,1)}63.333333%{transform:matrix3d(1.00081,0,0,0,0,.99672,0,0,0,0,1,0,0,0,0,1)}66.666667%{transform:matrix3d(1.00299,0,0,0,0,.99685,0,0,0,0,1,0,0,0,0,1)}70%{transform:matrix3d(1.00376,0,0,0,0,.99802,0,0,0,0,1,0,0,0,0,1)}73.333333%{transform:matrix3d(1.00353,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1)}76.666667%{transform:matrix3d(1.00274,0,0,0,0,1.00046,0,0,0,0,1,0,0,0,0,1)}80%{transform:matrix3d(1.00176,0,0,0,0,1.00093,0,0,0,0,1,0,0,0,0,1)}83.333333%{transform:matrix3d(1.00084,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1)}86.666667%{transform:matrix3d(1.00014,0,0,0,0,1.00056,0,0,0,0,1,0,0,0,0,1)}90%{transform:matrix3d(0.99969,0,0,0,0,1.00017,0,0,0,0,1,0,0,0,0,1)}93.333333%{transform:matrix3d(0.99947,0,0,0,0,.99987,0,0,0,0,1,0,0,0,0,1)}96.666667%{transform:matrix3d(0.99944,0,0,0,0,.99974,0,0,0,0,1,0,0,0,0,1)}100%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}}
/*

  MOON

*/
.moon{
  height:7em;
  width:7em;
  background-color:#eee;
  border-radius:5em;
  position:absolute;
  top:2em;
  right:1.4em;
  animation:moonlight 5s alternate infinite;
  display: none;

  &.empty-cart {
    display: block;
  }

  li{
    position: absolute;
    list-style: none;
    background: #aaa;
    border-radius: 50%;
    box-shadow:inset 0.4em -0.05em 0.1em #777;
  }
  li:nth-child(1) {
    top:1.15em;
    left:1.25em;
    height:.75em;
    width:.75em;
  }
  li:nth-child(2) {
    top:1.05em;
    left:3.5em;
    height:1.25em;
    width:1.25em;
  }
  li:nth-child(3) {
    top:2.95em;
    left:1.1em;
    height:1.75em;
    width:1.75em;
  }
  li:nth-child(4) {
    top:3em;
    left:3.25em;
    height:.5em;
    width:.5em;
  }
  li:nth-child(5) {
    top:4em;
    left:5.25em;
    height:.65em;
    width:.65em;
  }
  li:nth-child(5) {
    top:3.5em;
    left:4.15em;
    height:2em;
    width:2em;
  }
  li:nth-child(6) {
    top:5.25em;
    left:2.5em;
    height:1.25em;
    width:1.25em;
  }
}

@keyframes moonlight{
    0%{box-shadow: inset -5px -4px 0px 0px rgba(50, 50, 50, 0.75), 0px 0px 20px rgba(255,255,255,.5);}
  100%{box-shadow: inset -5px -4px 0px 0px rgba(50, 50, 50, 0.75), 0px 0px 40px rgba(255,255,255,.75);}
}

/*

CLOUDS

*/
.cloud {
  background:#fff;
  height:4em;
  width:9em;
  border-radius:3em;
  position:absolute;
  animation-name:clouds;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.cloud:before,.cloud:after{
  content:"";
  background:#fff;
  position:absolute;
  border-radius:50%;
}
.cloud:before{
  height:3em;
  width:3em;
  top:-1.3em;
  left:1.1em;
}
.cloud:after{
  height:5em;
  width:5em;
  top:-2em;
  right:0.85em;
}
.cloud:nth-child(1){
  top:2em;
  left:10em;
  animation-duration:90s;
}
.cloud:nth-child(2){
  top:9em;
  left:2.5em;
  opacity:.45;
  animation-duration:120s;
}
.cloud:nth-child(3){
  top:15em;
  left:11em;
  opacity:.65;
  animation-duration:70s;
}
.cloud:nth-child(4){
  top:7em;
  left:40em;
  opacity:.65;
  animation-duration:70s;
}
.cloud:nth-child(5){
  top:17em;
  left:30em;
  opacity:.25;
  animation-duration:70s;
}
@keyframes clouds{
  0%{margin-left:-10%;opacity:0;}
  15%{opacity:100%;}
  100% {margin-left: 110%;}
}

/*

Z-INDEX

*/
.moon{z-index:1;}
.cloud{z-index:2;}
