
/* WP Gallery
------------------------------------------------------*/
.home {
  .gallery {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0 !important;
    }
  }

  .gallery-item {
    opacity: 0;
    transition: all 1.2s ease;
    transform: translateY(50%);
  }

  .fx-text-editor {
    &.element-visible {
      .gallery-item {
        opacity: 1;
        transform: translateY(0);

        &:nth-of-type(1){ transition-delay: .2s; }
        &:nth-of-type(2){ transition-delay: .4s; }
        &:nth-of-type(3){ transition-delay: .6s; }
      }
    }
  }
}

.gallery-item {
  a {
    img {
      transition: all 2.4s ease;
      filter: grayscale(0);

      &:hover {
        filter: grayscale(100%);
      }
    }
  }
}

.gallery {
  padding-top: 1rem;
  margin-bottom: 2rem;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    margin-bottom: 1rem;
  }

  //Clearfix
  &::after {
    content: "";
    clear: both;
    display: table;
  }

  figure {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 0 .5rem 1rem;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: auto;
      transition: all 600ms ease;
      opacity: 1;
    }

    figcaption {
      padding: 6px;
      display: block;
      min-height: 40px;
      color: #000;
      font-size: 14px;
    }
  }
}


/* WP Gallery - GRID
------------------------------------------------------*/
.gallery-columns-8 {
  .gallery-item {
    width: 12.5%;
  }
}

.gallery-columns-7 {
  .gallery-item {
    width: 14.28%;
  }
}

.gallery-columns-6 {
  .gallery-item {
    width: 16.6%;
  }
}

.gallery-columns-5 {
  .gallery-item {
    width: 20%;
  }
}

.gallery-columns-4 {
  .gallery-item {
    width: 25%;
  }
}

.gallery-columns-3 {
  .gallery-item {
    width: 33.3%;
  }
}

.gallery-columns-2 {
  .gallery-item {
    width: 50%;
  }
}

.gallery-columns-1 {
  .gallery-item {
    width: 100%;
  }
}
