// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes



/* Entry-Content
-----------------------------------------------------------*/
.entry-content {

  b,
  strong {
    font-weight:600;
  }

  ul:not(.woocommerce-error),
  ul:not(.payment_methods),
  ul:not(.gform_fields),
  ol:not(.gform_fields) {
    padding-left: 1.4rem;
    margin: .8rem 0 1.2rem;
  }

  ul:not(.woocommerce-error),
  ul:not(.payment_methods),
  ul:not(.gform_fields) {
    li {
      list-style-type: disc;
      margin-bottom: 4px;
    }
  }

  ol:not(.woocommerce-error),
  ol:not(.payment_methods),
  ol:not(.gform_fields) {
    li {
      list-style-type: numeric;
      margin-bottom: 4px;
    }
  }

  ul {
    li {
      llist-style-type: disc;
      font-size: 16px;
      font-weight: 300;
    }
  }

  p {
    font-size: $font-size-base;
    line-height: 1.6;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0.1rem 0 .5rem 0;
  }

  h1 {
    font-size: 28px;
    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }
  }

  h2 {
    font-size: 24px;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  h3 {
    font-size: 22px;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  a {
    &:link {
      color: $brand-primary;
    }

    &:visited {
      color: rgba($brand-primary,.6);
    }

    &:hover,
    &:focus,
    &:active {
      color: #333;
    }
  }

  blockquote {
    position: relative;
    display: block;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;

    th,
    td {
      padding-right: 1rem;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}


/* Wp Images
-----------------------------------------------------------*/
.alignnone {
  height: auto;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.aligncenter {
  display: block;
  height: auto;
  margin: ($spacer / 2) auto;
}

.alignleft,
.alignright {
  height: auto;
  margin-bottom: ($spacer / 2);
}

.entry-content-asset {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe,
  video  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }
}


@include media-breakpoint-up(sm) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

// Captions
.wp-caption {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}
