/*-------------------------------------------------------------------------------
	Float Left, Right, Clearfix, Alignment
-------------------------------------------------------------------------------*/

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; }
.clear{ clear:both; overflow: hidden; height:0; zoom: 1; }

.right { float:right; display:block; }
.left { float:left; display:block; }
.tc { text-align: center; }

/*-------------------------------------------------------------------------------
	Center UL
-------------------------------------------------------------------------------*/

.cul { width:100%; overflow:hidden; position:relative }
.cul > ul { clear:left; float:left; position:relative; left:50%; text-align:center; list-style:none; margin:0; padding:0 }
.cul > ul > li { display:block; float:left; position:relative; right:50% }
.cul > ul > li > a { display:block; margin:0 10px }
.cul > ul > li > a:hover, .cul > ul > li > a:active, .cul > ul > li.active > a { }

/*-------------------------------------------------------------------------------
	Horizontal UL
-------------------------------------------------------------------------------*/

.hul > ul{ display:block; float:left; width:auto; }
.hul > ul > li{ display:block; float:left; }
.hul > ul > li > a{ display:block; float:left; }
.hul > ul > li > a:hover, .hul > ul > li > a:active, .hul > ul > li.active > a{ }

/*-------------------------------------------------------------------------------
	ADMIN
-------------------------------------------------------------------------------*/
.admin-docs {
	padding-right:2rem;
}

.admin-docs h1 {
	margin-bottom: 4rem;
}

.admin-nav {
	width: 15%;
	float: left;
  margin-bottom: 2rem;
	position: relative;
	z-index: 10;
	background-color: rgba(251,251,251,.9);
	box-sizing: border-box;
	border: 1px solid #CCC;
	box-shadow: 0 1px 3px #CCC;
}

.admin-nav a {
	text-decoration: none;
  font-weight: bold;
	padding: 6px 0;
	display: block;
}

.admin-nav a:hover,
.admin-nav a:active,
.admin-nav a:focus {
	outline: none;
	background: none;
	box-shadow: none;
}

.admin-nav ul {
	margin: 5px 0;
	padding: 0 8px;
}

.admin-nav ul li {
	margin-bottom: 0;
	display: block;
	list-style: none;
	float: none;
}

.admin-nav ul li:after {
  content: "";
  position: relative;
	display: block;
	background: #ddd;
	width: 100%;
	height: 1px;
}

.admin-nav ul li:last-child:after {
  display: none;
}

.admin-section {
	float: right;
	width: 84%;
	box-sizing: border-box;
}

.admin-section h1{
  text-transform: uppercase;
}

.admin-section h2{
	background: #333;
	color: #FFF;
	font-weight: bold;
	padding: 10px 10px 10px 20px;
	margin:0;
	text-transform: uppercase;
}

.admin-section img{
	border:5px solid #FFF;
	max-width: 100%;
  height: auto;
  box-shadow: 0 1px 3px #CCC;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.admin-section .wrap{
	padding:10px 25px 30px 25px;
	border:1px solid #ddd;
	margin:0;
	background:#FFF;
}

.admin-section .code{
	background: none repeat scroll 0 0 #292d30;
	border: 0 none;
	color: #fff;
	font: 12px Arial;
	padding: 15px;
}

.admin-section .code pre,
.admin-section .code code{
	font: 14px/1.5em "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
}
