body {
  .wishlist-title {
    display: none;
  }
}

.woocommerce-account {
  span {
    em {
      font-size: 13px;
    }
  }
}

.woocommerce-edit-account {
  fieldset {
    margin: 2rem 0;
  }
}

.woocommerce-MyAccount-navigation {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 1.5rem;

  ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    li {
      list-style-type: none !important;
      border-bottom: 1px solid #dcdcdc;

      a {
        font-weight: 600;
        font-size: 18px;
        padding: 6px 0;
        transition: all 400ms ease;
        margin-bottom: 0 !important;
        display: block;
        color: #000 !important;

        &:hover {
          text-decoration: none;
          color: $brand-primary !important;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.woocommerce-MyAccount-navigation-link--downloads {
  display: none !important;
}
