.return-to-shop {
  display: none;
}

.woocommerce-cart {
  .page-content {
    overflow: hidden;
  }
}

.custom-empty-cart {
  position: relative;
  padding: 60px 30px 180px;

  .spider {
    left: 10%;
    top: -40px;
  }
}
