ul.payment_methods {
  li {
    list-style-type: none !important;
  }
}

.woocommerce-checkout-review-order-table {
  .variation {
    p {
      font-size: inherit;
    }
  }
}

.woocommerce .coupon .input-text {
  font-size: 12px;
  width: 98px !important;

  @include media-breakpoint-down(sm) {
    width: 48% !important;
  }
}

.woocommerce .coupon .button {
  font-size: 15px;
}

#order_review_heading,
.cart_totals {
  h3,
  h2 {
    font-size: 20px;
    text-transform: uppercase;

    @extend .underline;
  }
}

#customer_details {
  margin-bottom: 2rem;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
    font-size: 17px;
  }
}

.wcppec-checkout-buttons__separator {
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}


.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
  font-size: 16px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background-color: $bg_color;
}

#add_payment_method #payment div.payment_box p:last-child,
.woocommerce-cart #payment div.payment_box p:last-child,
.woocommerce-checkout #payment div.payment_box p:last-child,
.payment_box.payment_method_ppec_paypal p {
  font-size: 14px;
}

.woocommerce #order_review label {
  font-weight: 600;
}

.woocommerce #order_review .woocommerce-privacy-policy-text {
  p {
    font-size: 12px;
  }
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
  margin-bottom: 0;
}

.woocommerce .woocommerce-info {
  border-top-color: transparent;
}

.woocommerce .woocommerce-form-coupon-toggle .woocommerce-info {
  font-size: 16px;
  font-weight: 500;

  &::before {
    font-family: none;
    content: ' ';
    width: 40px;
    height: 34px;
    background-image: url('../images/svg/kiradonjewel-logo-diamond.svg');
    background-size: contain;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    left: 18px;
    top: 8px;
    transform: rotate(-28deg);
  }
}

.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-1,
.woocommerce-page .col2-set .col-2 {
  @include media-breakpoint-down(sm) {
    margin-bottom: 1rem;
  }
}

.woocommerce #order_review .cart_item .product-name {
  font-size: 14px;
  padding-left: 36px;
  background-image: url('../images/svg/kiradonjewel-logo-diamond.svg');
  background-size: 26px auto;
  background-color: transparent;
  background-position: 8px 10px;
  background-repeat: no-repeat;
}

.woocommerce #order_review .cart_item  .product-total {
  font-size: 14px;
}

#ship-to-different-address {
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

#order_review_heading {
  @extend .underline;
}
