.cart-nav,
.cart-header,
.product_list_widget,
.total,
.cart-review-order,
.offer-msg {
  position: relative;
  z-index: 10;
}

.mini-cart {
  .moon {
    opacity: 0;
    left: auto;
    right: -4em;
    transition: all 480ms ease .1s;
  }

  &.menu-open {
    .moon {
      right: 1.4em;
      opacity: 1;
      z-index: 12;
    }
  }
}


/*  Mini Cart - Layout
-------------------------------------------------------*/
.mini-cart {
  display: block;
  position: fixed;
  top: 0;
  right:0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 100%;
  z-index: 9999;
  min-height: 100%;
  background-color: rgba($inverted, 1);
  transition: width .5s cubic-bezier(.87, .41, .19, 1.44);

  &.menu-open {
    width: 100%;
  }

  @include media-breakpoint-up(md) {}
  &.menu-open {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 400px;
    }

    @include media-breakpoint-up(sm) {
      width: 400px;
    }
  }
}


/* Shop now
---------------------------------------------------------------*/
.cart-shop-now {
  position: absolute;
  bottom: 1.2rem;
  width: 100%;
}


/* Mini Cart -  Close button
---------------------------------------------------------------*/
.cart-nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  &:hover {
    text-decoration: none;
  }

  .close-icon {
    margin: 10px 6px 0 0;
    cursor: pointer;
    display: block;
    height: 26px;
    width: 26px;
    background-image: url('../images/close-icon-white.png');
    background-size: contain;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 200ms ease;
    transform: rotate(0deg);

    &:hover {
      opacity: .8;
      text-decoration: none;
      //transform: rotate(90deg);
    }
  }
}

/*  Mini Cart - Header
-------------------------------------------------------*/
.cart-header {
  border-bottom: 1px solid $cart_text;
  padding: 1.4rem 0 .2rem;

  @include media-breakpoint-down(sm) {
    padding: 1rem 0 0;
  }

  .cart-title {
    color: $cart_text;
    @include media-breakpoint-down(sm) {
      font-size: 26px;
    }
  }
}

#ajax-mini-cart-data {
  position: relative;
  transition: all 400ms ease;
  overflow: auto;
  min-height:100%;
  height: 100%;

  .mini-cart-content {
    padding: 0 16px 220px;
    min-height: 100%;
    background-color: rgba($stars_bg,.9);
  }
}

#ajax-price {
  font-size: 20px;
}


/*  Mini Cart - Grid
-------------------------------------------------------*/
#mini-cart {
  .cart_list product_list_widget {
    margin: 0;
    padding: 0;
  }

  .mini_cart_item {
    background-color: rgba(#FFF,1);
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    list-style-type: none;

    &:nth-child(2n){
      background-color: #FFF;
    }

    .cart-item-wrap {
      padding: 8px 16px;
      display: flex;

      .left-col {
        width: 24%;
        margin-right: 4%;

        @include media-breakpoint-down(sm) {
          width: 20%;
        }

        img {
          float: none;
          margin-left: 0;
          width: 100%;
          height: auto;
          max-width: 100%;
          height: auto;
          display: block;
          border: 2px solid #f1f1f1;
          transform: scale(1);
          transition: all 400ms ease;
          border-radius: 6px;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .right-col {
        width: 68%;

        @include media-breakpoint-down(sm) {
          width: 70%;
        }
      }
    }
  }
}


/*  Mini Cart - title, variations
-------------------------------------------------------*/
#mini-cart {

  .title {
    color: #000;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    margin: 6px 0;
    display: block;
    padding-right: 10px;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }

    .attr {
      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }

  .attr {
    color: #333;
    &::after {
      content: ",";
      display: inline;
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  .variation {
    border-left: none;
    padding: 0 0 2px 0;
    margin: 0;
    border-radius: 6px;
    border-bottom: 1px solid $border;
    border-radius: 0;
    display: inline-block;

    p {
      margin: 0 !important;
    }

    dt {
      padding: 0;
      font-size: 12px;
      font-weight: 300;
    }

    dd {
      padding: 0;
      margin: 0 !important;
      font-size: 12px;
      font-weight: 600;

      p {
        font-weight: 600;
        font-size: 12px;
      }
    }

    .tc-name {
      display: block;
      font-size: 12px;
    }

    .tc-value {
      font-size: 12px;
      margin-bottom: 0;

      small {
        display: none;
      }
    }

    .cpf-data-on-cart {
      border: none;
      margin: 0 0 1px;

      &:before {
        display: none;
      }
    }
  }
}

/*  Mini Cart - price - quantity - update - remove
-------------------------------------------------------*/
#mini-cart {
  .wrap-price-qty {
    font-size: 15px;

    .custom-label {
      font-size: 12px;
      font-weight: 400;
      margin-right: 6px;
    }
  }

  .wrap-price {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;

    .quantity {
      font-weight: 600;
    }
  }

  .product-quantity {
    display: block;

    .quantity {
      display:inline-block;

      .qty {
        height: 21px;
        width: 40px;
        border: 1px solid #ccc;
        box-shadow: none;
        font-weight: 400;
        font-size: 12px;
        position: relative;
        top: 1px;
        padding: 0 3px 0 6px;
      }
    }
  }

  .mini-cart-link-styles {
    font-size: 17px;
    padding-top: 2px;
    display: inline-block;
    color: #999;
    opacity: .9;
    padding: 2px;
    text-align: center;
    transition: all 120ms ease;
    transform: translateY(0);

    &.mini-cart-update {
      position: relative;
      top: 2px;
    }

    &.remove-item {
      position: absolute;
      top: 12px;
      right: 8px;
      color: red;
      opacity: .5;
    }

    &:hover,
    &:focus {
      opacity: .8;
      text-decoration: none;
      transform: translateY(1px);
    }
  }
}


/*  Mini Cart - Review order - Total
-------------------------------------------------------*/
#mini-cart {
  .cart-review-order {
    padding: 1.4rem 0;
    margin-bottom: 1rem;
    border-top: 1px solid $cart_text;
    border-bottom: 1px solid $cart_text;
    text-align: center;
    display: flex;

    .button {
      width: 47.5%;

      &:first-of-type {
        margin-right: 5%;
        opacity: .3;

        &:hover {
          opacity: 1;
        }
      }

      &:hover,
      &:focus,
      &:active {
        color: $brand-primary;
      }
    }
  }

  .total {
    padding: 1rem 0;
    text-align: right;
    display: block;
    color: $cart_text;

    .label {
      font-size: 16px;
      margin-right: 5px;
      color: $cart_text;
    }

    .price {
      font-weight: 600;
      font-size: 26px;
      display: inline;
      color: $cart_text;
      letter-spacing: 1px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }
  }

  &.updated {
    .total {
      animation: cartupdated 1s ease 1 both .8s;
    }
  }
}

@keyframes cartupdated {
  0%, 20%, 50%, 80%, 100% { transform:translateY(0); }
	40% { transform:translateY(-30px); }
	60% { transform:translateY(-15px); }
}
