
/*  Mini Cart - EMPTY
-------------------------------------------------------*/
#mini-cart {
  .empty {
    min-height: 280px;
    padding: 1rem 0;
    border-bottom: 1px solid $cart_text;
    position: relative;

    .wrap-msg {
      width: 220px;
    }

    .empty-msg {
      display: block;
      color: $cart_text;
      font-size: 16px;
      font-weight: 600;

      &.first-item {
        margin-bottom: .6rem;
      }
    }
  }
}

/* Spider
---------------------------------------------------------------*/
.empty-cart-wrap {
  overflow: hidden !important;

  &::after {
    content: " ";
    position: absolute;
    display: block;
    bottom: -230px;
    right: -230px;
    top: auto;
    left: auto;
    background-image: url('../images/cart-spider-web.png');
    background-size: contain;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 220px;
    height: 220px;
    transition: all 400ms ease 1.2s;
    z-index: 1;
  }
}

.mini-cart {

  .spider {
    top: -380px;
    left: 220px;

    &.no-empty {
      //transform: scale(1) !important;
      animation: none;

      .legs {
        display: none;
      }
    }
  }

  &.menu-open {

    //Spider
    .spider {
      &.empty-cart {
        transition-delay: .2s;
        top: 0;
      }
    }

    //Web
    .empty-cart-wrap {
      &::after {
        bottom: -108px;
        right: -112px;
      }
    }
  }
}

.mini-cart {
  &.menu-open {
    &.spider-toggle {
      //Spider
      .spider {
        &.no-empty {
          top: -244px;
        }
      }
    }
  }
}

.mini-cart {

  .offer-msg {
    margin: .6rem 0 .6rem;
    color: $cart_text;

    p {
      font-size: 15px;
      margin: 0;
      line-height: 1.2;
      color: $cart_text;
    }

    a {
      font-weight: 600;
      color: $cart_text;
    }
  }
}
