/*  Mini Cart - top notifications
-------------------------------------------------------*/
#cart-notifications {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: auto;
  width: 100%;
  height: auto;
  padding: 1px 10px 2px;
  background-color: rgba(#000,1);
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: none;
  z-index: 96;
}

/*  Mini Cart - loader
-------------------------------------------------------*/
#cart-loader {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  min-height:100%;
  background-color:rgba(251,251,251,.95);
  z-index: -1;
  opacity: 0;
  transition: all 300ms ease;

  &.active {
    opacity: 1;
    z-index: 9999;
  }

  .wrap-loader {
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    margin: -100px 0 0 -45px;
    animation: heartbit .4s ease-in-out .3s alternate infinite both;
  }

  .loading-text {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: -6px;
    left: -6px;
  }
}
