.woocommerce-store-notice,
p.demo_store {
  background-color: rgba($brand-primary,.9) !important;
  font-weight: 500;
  font-size: 12px;
}

/* Offers
--------------------------------------------------------*/
.side-notification {
  background-color: rgba($brand-red,.9);
  position: fixed;
  bottom: auto;
  top: calc(100% + 10px);
  right: 3%;
  left: auto;
  transition: all 400ms ease .1s;
  display: block;
  height: 35px;
  width: auto;
  text-align: auto;
  padding: .2rem 1rem 0;
  z-index: 99;

  @include media-breakpoint-down(md) {
    height: 30px;
    padding: 0 1rem;
  }

  @include media-breakpoint-down(md) {
    padding: 0 8px;
  }

  a {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    font-size: 15px;

    @include media-breakpoint-down(md) {
      font-size: 13px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 11px;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}


body {
  &.scrolling-init {
    .side-notification {
      top: calc(100% - 30px);
      animation: pulsefooter .9s infinite;
    }
  }

  &.touched-bottom {
    .side-notification {
      transition-delay: .2s;
      top: calc(100% + 10px);
    }
  }
}

@keyframes pulsefooter {
  0% {box-shadow: 0 0 0 0 rgba($brand-red, .6);}
  70% {box-shadow: 0 0 0 18px rgba($brand-red, 0);}
  100% {box-shadow: 0 0 0 0 rgba($brand-red, 0);}
}
