/* Loadmore
--------------------------------------------------------*/
#paging-products {
  text-align: center;
  padding: 1rem 0;

  a {
    position: relative;
  }

  .css-loader {
    display: none;
    position: absolute;
    right: -36px;
    left: auto;
    top: 8px;
    font-size: 6px;
  }

  &.active {
    .css-loader {
      display: block;
    }
  }
}

.term-description {
  margin-bottom: 4rem;
  padding: 0 2rem;
  text-align: center;

  p {
    text-align: center !important;
    line-height: 1.1;
    @extend .the-macambre;
  }
}

/* Loop grid
--------------------------------------------------------*/
.product-hover {
  transition: all 800ms ease;
  transform: scale(1);

  &:hover {
    transform: scale(1.1);
  }
}

.woocommerce-notices-wrapper {
  display: none;
}


.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}


/* New icon
--------------------------------------------------------*/
.woocommerce ul.products li.product_cat-new-in {
  &::after {
    content: 'NEW';
    color: #FFF;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: -18px;
    right: -18px;
    background-color: rgba($brand-red,.9);
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    z-index: 2;
    animation: heartbit .8s ease infinite 0s alternate both running;
  }
}


/* Out of stock
--------------------------------------------------------*/
.woocommerce ul.products li.product {
  &.outofstock {
    position: relative;

    .woocommerce-loop-product__title,
    .button {
      opacity: .5 !important;
    }

    &::after {
      content: "Out of stock";
      color: #FFF;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      background-color: rgba(#000000,.8);
      padding: 8px 14px 6px;
      display: inline-block;
      line-height: 1.1;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

/* Hover second image
--------------------------------------------------------*/
.product-thumb-hover-wrap {
  position: relative;

  img {
    transition: all 800ms ease;
    opacity: 1;

    &.attachment-shop_catalog {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &.attachment-woocommerce_thumbnail {
      position: relative;
      z-index: 2;
    }
  }

  &:not(.hover-empty):hover {
    img {
      &.attachment-woocommerce_thumbnail {
        opacity: 0;
      }
    }
  }
}

/* Loop grid
--------------------------------------------------------*/
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #000;
  font-weight: 300;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  color: #000;
  font-weight: 600;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;

  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  padding: 0;
  background-color: #FFF;
  transition: all 600ms ease;
  margin: 0 1.8% 1em 0;
  width: 23.60%;
  text-align: center;

  &:nth-child(4n){
    margin-right: 0;
  }

  .button {
    display: none !important;
    width: 100%;
    margin: .5rem 0 0 0;
    opacity: 1;
    padding: .420em 1em;
    font-size: 16px;
  }

  &:hover {
    .button {
      opacity: 1;
    }
  }
}


.woocommerce ul.products li.product a img {
  margin: 0;
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce span.onsale {
  font-weight: 500;
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: rgba($brand-primary,.8);
  animation: blackpulse 1.8s infinite;
}

@keyframes blackpulse {
  0% {box-shadow: 0 0 0 0 rgba($brand-primary, .6);}
  70% {box-shadow: 0 0 0 18px rgba($brand-primary, 0);}
  100% {box-shadow: 0 0 0 0 rgba($brand-primary, 0);}
}

.single {
  &.woocommerce div.product span.onsale {
    right: 10px;
    left: auto;
  }
}


.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  font-size: 12px;
}

.woocommerce .woocommerce-ordering select {
  padding: 4px;
  font-size: 14px;
}
