/* breadcrumb
--------------------------------------------------------*/
.woocommerce {
  .woocommerce-breadcrumb {
    margin-bottom: 3rem;
    font-size: 13px;
    color: #000;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      font-size: 11px;
    }

    a {
      transition: all 400ms ease;
      color: #333;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* Product
--------------------------------------------------------*/
.woocommerce {
  div.product {
    .product_title {
      font-size: 26px;
      line-height: 1.1;

      @include media-breakpoint-down(sm) {
        font-size: 22px;
      }
    }

    p.price,
    span.price,
    .price {
      @include media-breakpoint-down(xs) {
        font-size: 16px;
      }
    }

    .quantity {
      .qty {
        margin-right: 10px;
        position: relative;
        top: 1px;
        height: 38px;
      }
    }

    .woocommerce-product-details__short-description,
    .short-description {
      margin-bottom: 2rem;

      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }

      .std {
        font-size: 16px;
        line-height: 1.6;
        font-weight: 300;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }

    p.stock {
      font-size: 12px;
    }

    form.cart {
      .variations {
        margin-bottom: 1rem;

        label {
          font-weight: 700;
          font-size: 14px;

          @include media-breakpoint-down(sm) {
            font-size: 12px;
          }
        }

        .reset_variations {
          font-size: 11px;
          color: #333;
        }

        select {
          padding: 4px;
          font-size: 14px;
          height: 42px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.single_variation_wrap {
  @extend .clearfix;
}

.woocommerce div.product form.cart .button {
  float: none;
  width: 100%;
}

.woocommerce div.product form.cart div.quantity {
  float: none;
  margin-bottom: 2rem;
  position: relative;

  &::before {
    content: "QUANTITY";
    position: relative;
    width: 28%;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 12px 0 0 0;
    float: left;
  }
}

.woocommerce div.product div.summary {
  margin-bottom: 1.4em;
}

/* Meta
--------------------------------------------------------*/
.woocommerce {
  div.product {
    .added_to_cart {
      &.wc-forward {
        margin-left: 10px;
        font-size: 13px;
        margin-top: 6px;
        display: block;
        text-align: center;
        color: #666;
      }
    }

    .yith-wcwl-add-button {
      margin-bottom: 1rem;

      .fa {
        color: $brand-red;
      }
    }

    .yith-wcwl-add-button,
    .yith-wcwl-wishlistexistsbrowse,
    .yith-wcwl-wishlistaddedbrowse {
      font-size: 12px;
      margin-bottom: 10px;

      a {
        color: #333;

        &:hover {
          color: #333 !important;
        }
      }

      .feedback {
        font-weight: 600;
      }

      .fa-heart {
        color: $brand-red;
      }

    }

    .add_to_wishlist {
      color: #333 !important;

      .fa {
        font-size: 15px;
        animation: heartbit .5s ease infinite 0s alternate both running;
      }

      &:hover {
        background-color: transparent !important;
        color: $brand-red;
      }
    }


    .product_meta {
      margin-top: 1.5rem;
      font-size: 14px;

      .sku_wrapper {
        font-weight: 700;

        .sku {
          font-weight: 400 !important;
        }
      }

      a {
        color: #666;
      }

      .posted_in,
      .sku_wrapper {
        display: block;
        font-weight: 400;

        .sku,
        a {
          font-weight: 300;
        }
      }

      .posted_in,
      .tagged_as {
        display: none;
      }
    }
  }
}


/* Tabs
--------------------------------------------------------*/
.woocommerce {
  div.product {
    .woocommerce-tabs {
      margin: 2rem 0 4rem;

      .custom-tab-content {
        font-size: 14px;

        h2,h3,h4,h5 {
          margin-top: 1rem;
          font-size: 100%;
        }

        p {
          font-size: 100%;
        }

        ul {
          padding-top: 0;

          li {
            font-size: 100%;
          }
        }
      }

      .shippinginfoheader {
        display: none;
      }

      ul.tabs {
        li {
          border-radius: 0;

          a {
            font-size: 15px;

            @include media-breakpoint-down(sm) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .woocommerce-Tabs-panel {
    > h2 {
      display: none;
    }
  }

  table.shop_attributes {
    font-size: 14px;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }

    th {
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      font-size: 14px;
    }
  }
}


/* Slideshow
--------------------------------------------------------*/
.woocommerce {
  .pswp__bg {
    opacity: .9 !important;
  }

  div.product {
    div.images {
      &.woocommerce-product-gallery {
        padding-left: 72px;
        position: relative;
        z-index: 4;
        @extend .clearfix;

        @include media-breakpoint-down(sm) {
          padding-left: 0;
          margin-bottom: 1.5rem;

          .flex-viewport {
            margin-bottom: 8px;
          }
        }

        .woocommerce-product-gallery__image {
          img {
          }
        }
      }

      .flex-control-thumbs {
        width: 70px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;

        @include media-breakpoint-down(sm) {
          width: 100%;
          position: relative;
          display: flex;
          left: auto;
          top: auto;
        }

        li {
          width: auto;
          display: block;
          float: none;
          margin: 0 0 8px;
          width: 60px;

          @include media-breakpoint-down(sm) {
            margin: 2px;
          }

          img {
            opacity: 1 !important;
            transition: all 720ms ease;
            border: 1px solid $border;
            max-width: 100%;
            height: auto;
            display: block;

            &.flex-active {
              border-color: #333;
            }
          }
        }
      }
    }
  }
}

/* Related Upsels Crossels
--------------------------------------------------------*/
.up-sells,
.upsells,
.related {
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    &:last-of-type {
      margin-bottom: 0;

      .products {
        margin-bottom: 0;
      }
    }
  }

  > h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }

    &::after {
      @include title-border;
      background-color: #000;
    }
  }
}

.woocommerce ul.products[class*="columns-"] li.product,
.woocommerce-page ul.products[class*="columns-"] li.product {
  @include media-breakpoint-down(sm) {
    margin-bottom: 1.5rem;
  }
}
