/*  Wrapper
-------------------------------------------------------*/
.woocommerce-order-received {
  .page-content {
    position: relative;
    overflow: hidden;
  }
}


.woocommerce-order {
  .top-spider {
    top: -474px;
  }
}


body {
  &.loaded {
    .woocommerce-order {
      .top-spider {
        top: -274px;
        transition-delay: 1s;
      }
    }
  }
}

.thankyou-item {
  margin-bottom: 2rem;
  text-align: center;
}

.thankyou-logo,
.thankyou-notes {
  margin-bottom: 2rem;
}

.thankyou-notes {
  p {
    font-size: 12px !important;
  }
}

/*  Styles
-------------------------------------------------------*/
.woocommerce-order {

  .top-spider {
    left: 2%;
    animation: none;
  }

  .woocommerce-notice {
    text-align: center;
    display: block;
    margin: 1.5rem 0 1rem;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.1;
  }

  .thankyou-logo {
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  h2 {
    @extend .underline;
  }

  ul {
    padding-left:0 !important;
    margin-top: 0 !important;

    li {
      list-style: none !important;
    }
  }

  .wc-item-meta {
    font-size: 12px;
  }

  .woocommerce-customer-details address {
    font-size: 16px;
  }

  .woocommerce-order-overview {
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5rem !important;
    margin-bottom: 2rem;
  }
}

.woocommerce table.shop_table {
  font-size: 94%;
}

.woocommerce ul.order_details {
  li {
    font-size: 14px;

    strong {
      font-size: 15px;
    }
  }
}

.wrap-checkout-info {
  margin: 1rem 0 2rem;
  p:nth-child(1) {
    font-weight: 500;
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }
}

/*  Spidy
-------------------------------------------------------*/
.woocommerce-order {

  .the-end-wrap {
    height: 280px;
    position: relative;
    color: #FFF;
    overflow: hidden;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    //align-items: center;
    //justify-content: center;

    h4 {
      position: relative;
      z-index: 4;
      display: block;
      font-size: 24px;
      margin: 90px 0 15px;
    }

    .button {

    }

    .msg {
      position: relative;
      z-index: 4;
    }

    #starfield {
      background-color: rgba($stars_bg,.95);
    }
  }

  .bottom-spider {
    left: 10%;
    top: -120px;
    z-index: 4;
  }

}
