.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce ul.products li.product .price ins {
  text-decoration: none !important;
}

.woocommerce div.product p.wholesale_price_title,
.woocommerce div.product span.wholesale_price_title {
  font-size: 14px;
}

.woocommerce ul.products li.product .wholesale_price_title {
  font-size: 12px;
}


form.wwlc-register {
  @extend .clearfix;
}

#first_name_field,
#last_name_field,
#wwlc_company_name_field,
#wwlc_cf_business_liscense_1_field,
p.wwlc_password-field-set,
p.wwlc_password_confirm {
  width: 49%;
  float: left;
  margin-right: 2%;
}

p.text-field-set.wwlc_city,
p.text-field-set.wwlc_state,
p.text-field-set.wwlc_postcode {
  width: 32%;
  margin-right: 2%;
  float: left;
}


#last_name_field,
p.text-field-set.wwlc_postcode,
#wwlc_cf_business_liscense_1_field,
p.wwlc_password_confirm {
  margin-right: 0 !important;
}

.form-controls-section {
  float: left;
  width: 100%;
}

#wwlc-registration-form {
  label {
    margin-bottom: 0;
    font-size: 16px;
  }

  .required {
    border: none !important;
  }

  .terms-and-condition-container {
    font-size: 14px;
  }

  .button {
    @extend .btn;
  }

  #log-in,
  #lost-password {
    font-weight: 500;
    font-size: 14px;
  }

  #log-in {
    &::after {
      content: "-";
      position: relative;
      left: 1px;
    }
  }
}
