
/* Faq Item
----------------------------------------------------------------*/
.faq-wrapper {
  margin-bottom: 2rem;
}

.faq-item {
  margin-bottom: .5rem;

  .faq-question {
    cursor: pointer;
    display: inline-block;
    color: $gray;
    position: relative;
    margin: 0 0 .8rem;
    font-size: 19px;

    @include media-breakpoint-down(sm) {
      font-size: 15px;
    }
  }

  .faq-answer {
    display: none;
    background-color: rgba(#FFF,0);
    transition: background 400ms ease;
    position: relative;
    margin-bottom: 1.5rem;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      right: auto;
      top: 0;
      bottom: auto;
      margin-left: -5px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid rgba(#FFF,0);
      transition: all 400ms ease;
    }
  }

  &.active {
    .faq-question {
      &:after {
        opacity: 0;
      }
    }
  }
}


/* Animations
----------------------------------------------------------------*/
.featured-faq {

  .faq-item {

    &.active {
      .faq-answer {
        background-color: rgba(#FFF,1);
        transition-delay: .4s;

        &:after {
          top: -11px;
          transition-delay: .2s;
          border-bottom-color: rgba(#FFF,1);
        }
      }
    }
  }
}
