.services-wrap {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  a {
    color: #FFF;
    display: block;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
    }
  }
}

.service {
  position: relative;
  height: 300px;
  padding: 20px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    height: 390px;
  }
  @include media-breakpoint-up(lg) {
    flex-grow: 1;
    height: 500px;
    transition: flex-grow .5s .2s ease-in-out;
    &:hover {
      flex-grow: 1.2;
      transition: flex-grow .25s .1s ease-in-out;
      cursor: pointer;
    }
  }
}

.services-wrap {
  opacity: 0;
  transition: all 1.6s ease .6s;

  &.element-visible {
    opacity: 1;
  }
}

.service-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    width: 100%;
    content: '';
  }
  &::before {
    height: 100%;
    background-color: rgba(#333, .6);
    transition: background-color .25s ease-in-out;
    .service:hover & {
      background-color: transparent;
      transition: background-color .25s ease-in-out;
    }
  }
  &::after {
    height: 10px;
    background-color: $border-color;
  }
  @include media-breakpoint-up(lg) {
    border-bottom: 0;
    background-size: cover 800px;
    border-top: 0;
  }
}

.service-title {

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 255px;
    left: -170px;
    text-align: right;
  }
  .title {
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 30px;
    font-weight: 700;
  }
  @include media-breakpoint-up(lg) {
    .title {
      position: absolute;
      min-width: 500px;
      word-break: keep-all;
      transform: rotate(-90deg);
      margin-top: 0;
      font-size: 34px;
    }
  }
}

.service-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #FFF;
  background-color: rgba(#000, .7);
  padding: 5px 10px;

  @include media-breakpoint-up(lg) {
    bottom: -140px;
    opacity: 0;
    transition: all .3s ease-in-out;
    padding: 15px 8px;
    .service:hover & {
      bottom: 0;
      opacity: 1;
      transition: all .3s ease-in-out .2s;
    }
  }
}

.service-banner-icon {
  position: relative;
}

.arrow-svg-wrap {
  position: relative;
  width: 64px;

  @include media-breakpoint-up(md) {
    width: 110px;
  }

  img,
  svg {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(md) {
      width: 100%;
      height: auto;
    }
    path,
    .st0 {
      fill: #FFF;
    }
  }
}

.service-banner-text {
  padding: 10px 8px;
  p {
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    max-width: 250px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }
}
