.projects-wrap {
  .projects-title,
  .project-slideshow-wrap,
  .project-slideshow-cta {
    opacity: 0;
    transform: translateY(50%);
    transition: all 1.2s ease;
  }

  &.element-visible {
    .projects-title { transition-delay: .6s; }
    .project-slideshow-wrap { transition-delay: 1s; }
    .project-slideshow-cta  { transition-delay: 1.2s; }

    .projects-title,
    .project-slideshow-wrap,
    .project-slideshow-cta {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.projects-wrap {
  position: relative;
  z-index: 1;
  background-position: center center;
  padding-top: 60px;
  padding-bottom: 40px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(#333, .75);
    content: '';
  }

  &::after {
    @include section-border;
  }

  a {
    &:hover,
    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
    }
  }
}

.white-text {
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
  font-weight: 600;
}

.projects-title {
  @extend .h1;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 2rem;

  &::after {
    @include title-border;
  }
  span {
    color: #FFF;
  }
}

/* Project Slideshow
 --------------------------------------------------------------------*/
.project-slideshow-wrap {
  display: flex;
  justify-content: center;

  //-- vertical-align the images
  .slick-initialized .slick-slide {
    display: block;
    //float: none;
    vertical-align: middle;
  }
}

/* Slideshow Navigation
 --------------------------------------------------------------------*/
.project-slide-arrow {
  width: 30px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;

  //providing fallback for IE 10 + 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @include vertical-align;
  }
}

.project-slide-arrow {
  display: inline-block;
  font-size: 28px;
  color: #FFF;
  position: absolute;
  top: 45%;
  bottom: auto;
  transition: all 400ms ease;
  transform: translateY(0);

  &:hover,
  &:focus {
    transform: translateY(2px);
    cursor: pointer;
    color: #FFF;
  }
}

.project-slide-arrow-left {
  left: -25px;
}

.project-slide-arrow-right {
  right: -35px;
}

/* Slideshow
 --------------------------------------------------------------------*/
.project-slideshow {
  width: 100%;
  @include media-breakpoint-up(lg) {
    width: 100%;
  }

  .project-slide-arrow {
    @include media-breakpoint-down(md) {
      display: none !important;
    }

  }

  .slick-dots {
    display: none !important;
    bottom: -36px;

    @include media-breakpoint-down(md) {
      display: block !important;
    }
  }
}

/* item
 --------------------------------------------------------------------*/
.project-slide-item-wrap {
  margin-right: 4px;
  margin-left: 4px;
  background-color: transparent;
}

.project-slide-item {
  position: relative;
  border: 4px solid #FFF;
  background-color: #FFF;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 60px;
}

.project-slide-item-img {
  //providing fallback for IE 10 + 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: 200px;
    @include media-breakpoint-up(md) {
      height: 300px;
    }
  }
  @supports not (object-fit: cover) {
    height: 200px;
    @include media-breakpoint-up(md) {
      height: 300px;
    }
  }
  // specific rule to target all current versions of IE but not other browsers
  @supports not (background-blend-mode: color-dodge) {
    height: 200px;
    @include media-breakpoint-up(md) {
      height: 300px;
    }
  }

  img {
    @extend .img-fluid;
    object-fit: cover;
    min-height: 200px;
    max-height: 200px;
    @include media-breakpoint-up(md) {
      min-height: 300px;
      max-height: 300px;
    }
  }
}

/* Slide Item Banner
 --------------------------------------------------------------------*/
.project-slide-item-title-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 4px;
  text-align: center;
  transition: all .25s ease-in-out;
  color: #000;

  @include media-breakpoint-up(md) {
    padding: 12px 10px;
  }

  .price {
    font-weight: 200;
    font-size: 14px;
    display: block;
    color: #000;
  }
}

.project-slide-item-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 700;
  color: #000;
}



/* Slide Item Button
 --------------------------------------------------------------------*/
.project-slideshow-cta {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 20px;
}
