/* Newsletter
---------------------------------------------------------------*/
.footer-newsletter-form {
  margin-top: 140px;
  position: relative;
  //background-color: rgba($stars_bg,1);

  @include media-breakpoint-down(md) {
    margin-top: 120px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 100px;
  }

  .wrap {
    background-color: rgba(#333,1);
    text-align: center;
    color: #FFF;
    position: relative;
    z-index: 2;
    padding: 2rem 0 2rem;
    transition: all 600ms ease .4s;

    p{
      margin: 0;
    }
  }

  .title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      margin-bottom: 1rem;
    }
  }

  input[type="email"] {
    border-radius: 30px;
    width: 60%;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(sm) {
      width: 90%;
    }
  }

  input[type="submit"] {
    @extend .white-button;
    @extend .large-button;
  }

  .icon-maythejewel {
    position: absolute;
    width: 100%;
    text-align: center;
    transition: opacity 520ms ease;
    opacity: 0;
    z-index: -1;
    top: auto;
    bottom: 5%;
    left: 0;
    right: auto;

    img {
      @include media-breakpoint-down(md) {
        width: 240px
      }

      @include media-breakpoint-down(sm) {
        width: 200px
      }
    }
  }
}


/* Abimation
---------------------------------------------------------------*/
body {
  &.touched-bottom {
    .footer-newsletter-form {
      .wrap {
        background-color: rgba($brand_red,1);
      }

      .icon-maythejewel {
        z-index: 1;
        animation: ballstyle 1.2s ease-in-out 1 alternate;
        animation-fill-mode: both;
        opacity: 1;
      }

      input[type="submit"] {
        animation: scaleanim .8s ease-in-out infinite alternate;
      }
    }
  }
}

.pulse {
  animation: pulse .8s infinite;
}

@keyframes ballstyle {
  0% { bottom: 5%;  }
  75% { bottom: 100%; }
  50% { bottom: 116%; }
  100% { bottom: 108%;  }
}


@keyframes scaleanim {
  0% { transform: scale(1.0); }
  100% { transform: scale(1.06); }
}

@keyframes pulse {
  0% {box-shadow: 0 0 0 0 rgba(#FFF, 0.4);}
  70% {box-shadow: 0 0 0 18px rgba(#FFF, 0);}
  100% {box-shadow: 0 0 0 0 rgba(#FFF, 0);}
}
