
/* Footer info
---------------------------------------------------------------*/
.footer-info {
  background-color: #f7f7f7;
  display: flex;
  padding: 2rem 1rem 1rem;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  h5 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;

    &::after {
      content: "\f078";
      @extend .fa;
      transition: all 440ms ease;
      font-size: 14px;
      position: relative;
      top: -2px;
      right: -6px;
      z-index: 1;
      transform: rotate(0deg);
      display: none;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 8px;
      cursor: pointer;

      &::after {
        display: inline-block;
      }
    }
  }

  .col {
    &.active {
      h5 {
        &::after {
          top: 2px;
          transform: rotate(-180deg);
        }
      }
    }
  }

  .col {
    width: 25%;
    padding: 0 2rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
      padding: 0 .8rem;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      text-align: center;
    }

    .wrap {
      margin: 5px 0;
      font-size: 13px;
      display: block;

      @include media-breakpoint-down(sm) {
        display: none;
      }

      p {
        font-size: 13px;
        margin-bottom: 10px;
      }

      ul {
        li {
          display: block;
          margin-bottom: 8px;
        }
      }

      a {
        color: #333;
      }
    }
  }
}


/* Footer Bottom
---------------------------------------------------------------*/
.footer-bottom {
  position: relative;
  padding: .8rem 1rem .6rem;
  background-color: #333;
  color: #FFF;

  @include media-breakpoint-down(sm) {
    padding: .6rem .8rem .4rem;
  }

  .copyrights {
    font-size: 11px;
    margin: 0;
    float: left;
    position: relative;
    position: relative;
    top: -3px;

    @include media-breakpoint-down(sm) {
      font-size: 10px;
    }

    p {
      display: inline;
      margin: 0;
    }

    a {
      color: #FFF;
    }
  }

  .footer-diamond-logo {
    width: 20px;
    height: auto;
    position: relative;
    top: 3px;
    left: 1px;
    display: inline-block;
    transition: all 300ms ease-in-out;
    transform: scale(1);
    transform: rotate(0deg);

    svg,
    path {
      position: relative;
      fill: #FFFFFF;
      z-index: 2;
    }

    &:hover {
      transform: rotate(-10deg);
    }
  }
}


/* Social
---------------------------------------------------------------*/
.social-icons {
  background-color: #f2f2f2;
  text-align: center;
  padding: 1rem 0 .5rem;

  h5 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  ul {
    li {
      display: inline-block;

      a {
        display: inline-block;
      }
    }
  }

  .icon {
    font-size: 34px;
    transition: all 240ms ease;
    transform: scale(1) rotate(0deg);
    margin: 0 2px;
    color: #333;
    padding: 8px;

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }

    &:hover {
      transform: scale(1.3) rotate(-12deg);
    }

    &.social-follow-instagram { &:hover {color: #458eff; } }
    &.social-follow-google {  &:hover {color: #DD4B39;} }
    &.social-follow-skype {   &:hover {color: #00AFF0;} }
    &.social-follow-facebook { &:hover {color: #3b5998;} }
  }
}


/* Payments
---------------------------------------------------------------*/
.secure-payments {
  float: right;
  width: 160px;
  height: 15px;
  margin-top: 4px;
  background-size: contain;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;

  @include media-breakpoint-down(sm) {
    width: 120px;
  }
}
