.main-header-wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  height: auto;
  z-index: 999;
  transition: all 420ms ease;
  background-color: transparent;
}

.head-main-logo {
  width: 100%;
  height: 85px;
  position: relative;
  padding: 0;
  transition: all 300ms ease;
  background-color: #FFF;

  @include media-breakpoint-down(sm) {
    height: 66px;
  }

  .main-logo {
    width: 170px;
    height: 100%;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 6px;
    bottom: auto;
    opacity: 1;
    transition: all 300ms ease;
    transform: scale(1);

    @include media-breakpoint-down(sm) {
      width: 130px;
      margin-bottom: 6px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}


body {
  &.scrolling-init {
    .head-main-logo {
      height: 0;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }

      .main-logo {
        top: -200px;
        opacity: 0;
        z-index: -1;
      }
    }
  }
}
