/* Main nav
--------------------------------------------------------*/
.header-info {
  text-align: center;
  transition: all 300ms ease;
  position: relative;
  z-index: 10;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  background-color: rgba(#FFF,1);

  @include media-breakpoint-down(sm) {}
}

.nav-primary {
  padding-top: 4px;
  display: block;

  @include media-breakpoint-down(sm) {
    display: none;
    background-color: #f8f8f8;
  }

  a {
    text-decoration: none;
    line-height: 1.1;
    display: inline-block;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      position: relative;
      list-style-type: none;
    }
  }
}

body {
  &.scrolling-init {
    .nav-primary {
      @include media-breakpoint-down(sm) {
        padding-top: 28px;
      }
    }

    .header-info {
      padding: 0;
      top: 0;
      background-color: #f1f1f1;
    }
  }
}

/* Level 1
--------------------------------------------------------*/
.main-header-ul {
  transition: all 600ms ease;
  display: inline-block;
  text-align: initial;
  padding: 10px 0;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  a {
    transition: all 440ms ease;
  }

  &:hover {
    > li {
      &.menu-item-has-children {
        &::after {
          opacity: .4;
        }
      }

      > a {
        opacity: .4;
      }
    }
  }

  > li {
    float: left;
    margin: 0;

    @include media-breakpoint-down(sm) {
      float: none;
      display: block;
      text-align: left;
    }

    > a {
      padding: 10px 20px 6px 20px;
      text-transform: uppercase;
      font-size: 15px;
      color: #333;
      font-weight: 700;
      display: inline-block;
      position: relative;
      z-index: 1;

      @include media-breakpoint-down(md) {
        padding: 10px 15px 6px 14px;
        font-size: 14px;
        font-weight: 600;
      }

      @include media-breakpoint-down(sm) {
        padding: 10px 15px 6px 20px;
        background-color: #F8F8F8;
        display: block;
        border-bottom: 1px solid #dcdcdc;
      }

      &::before {
        content: "";
        display: block;
        background-image: url('../images/svg/kiradonjewel-logo-diamond.svg');
        background-size: contain;
        background-color: transparent;
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 32px;
        height: 28px;
        transition: all 400ms ease 40ms;
        position: absolute;
        left: -4px;
        top: -2px;
        z-index: -1;
        opacity: 0;
        transform: scale(.4) rotate(-80deg);

        @include media-breakpoint-down(md) {
          width: 28px;
          top: 0;
        }

        @include media-breakpoint-down(sm) {
          width: 24px;
          height: 21px;
          left: 2px;
          top: 2px;
        }
      }
    }

    &:hover {
      > a {
        opacity: 1 !important;
        &::before {
          transform: scale(1) rotate(-25deg);
          opacity: 1;
        }
      }

      &.menu-item-has-children {
        &::after {
          opacity: 1 !important;
        }
      }
    }

    &.active {
      > a {
        &::before {
          transform: scale(1) rotate(-25deg);
          opacity: 1;
        }
      }
    }
  }
}

.main-header-ul {
  .item-has-title-attr {
    &::after {
      content: attr(data-title);
      display: block;
      font-weight: 300;
      font-size: 12px;
      margin: 2px 0 0 0;
    }
  }
}


/* Drop down arrow
--------------------------------------------------------*/
.main-header-ul {
  .menu-item-has-children {
    &::after {
      content: "\f078";
      @extend .fa;
      transition: all 440ms ease;
      font-size: 15px;
      position: relative;
      top: -1px;
      right: 18px;
      z-index: 1;

      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 10px;
        right: 15px;
      }
    }
  }
}


/* Level 2 - Sub menu
--------------------------------------------------------*/
.menu-item-has-children {
  > ul.sub-menu {
    display: none;
  }
}

.main-header-ul {
  > .menu-item-has-children {
    > ul.sub-menu {

      > li {
        display: block;
        border-bottom: 1px solid #dcdcdc;

        a {
          font-weight: 600;
          color: #333;
          line-height: 1.1;
          padding: 9px 1px;
          display: block;
          transition: all 280ms ease;
          font-size: 14px;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          bottom: auto;

          &:hover {
            left: 2px;
            color: $brand-primary;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.main-header-ul {
  > .menu-item-has-children {
    > ul.sub-menu {
      margin: 0;
      padding: 0;
      background-color: #F8F8F8;
      display: block;
      border: 1px solid #dcdcdc;
      position: absolute;
      top: 38px;
      right: -76px;
      width: 240px;
      padding: .2rem 1rem;
      z-index: 11;

      @include media-breakpoint-down(sm) {
        position: relative;
        top: auto;
        right: auto;
        left: 0;
        width: 100%;
        border-top: none;
        border-bottom: none;
      }

      //top arrow
      &::before,
      &::after {
        bottom: 100%;
        left: 158px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      &::after {
      	border-color: rgba(136, 183, 213, 0);
      	border-bottom-color: #F8F8F8;
      	border-width: 10px;
      	margin-left: -30px;
      }

      &::before {
      	border-color: rgba(220, 220, 220, 0);
      	border-bottom-color: #dcdcdc;
      	border-width: 12px;
      	margin-left: -32px;
      }
    }
  }
}


//Overwrites
.main-header-ul {
  > li:first-child {
    @include media-breakpoint-down(sm) {
      border-top: 1px solid #dcdcdc;
    }

    > ul.sub-menu {
      @include media-breakpoint-down(md) {
        right: auto;
        left: 1rem;

        &::before,
        &::after {
          left: 72px;
        }
      }

      @include media-breakpoint-down(sm) {
        right: auto;
        left: 0;
      }
    }
  }

  > li:last-child {
    > ul.sub-menu {
      @include media-breakpoint-down(md) {
        right: 1rem;
        left: auto;
      }
      @include media-breakpoint-down(sm) {
        right: 0;
        left: auto;
      }
    }
  }
}


.main-header-ul {
  > .menu-item-has-children {
    > ul.sub-menu {
      ul.sub-menu {
        display: block;
        margin-left: 1.4rem;
        li {
          list-style-type: circle;
          a {
            padding: 4px 0;
            font-size: 13px;
          }
        }
      }
    }
  }
}


/* Hover sub menu
--------------------------------------------------------*/
.main-header-ul {
  > .menu-item-has-children {
    > ul.sub-menu {
      display: none;

      li {
        &.active {
          > a {
            color: $brand-primary;
          }
        }
      }
    }
  }
}

.main-header-ul {
  > .menu-item-has-children {
    &.is-open {
      > ul.sub-menu {
      }
    }
  }
}

/* submenu arrow - disabled
--------------------------------------------------------*/
.main-header-ul {
  .menu-item-has-children {
    .menu-item-has-children {
      &::after {
        display: none !important;
      }
    }
  }
}

/* IMAGE hover
--------------------------------------------------------*/
.menu-item {
  .menu-image {
    display: none !important;
  }
}

.menu-item {
  &.circle-thumb-added {
    a {
      position: relative;

      .image-circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        right: auto;
        left: 95%;
        top: 20px;
        bottom: auto;
        border: 1px solid #dcdcdc;
        transition: all 460ms ease 20ms;
        opacity: 0;
        transform: scale(.3);
        z-index: 12;

        @include media-breakpoint-up(xl) {
          width: 180px;
          height: 180px;
        }

        @include media-breakpoint-down(sm) {
          width: 50px;
          height: 50px;
          left: auto;
          right: -10px;
        }
      }

      &:hover,
      &:focus {
        .image-circle {
          transform: scale(1);
          opacity: 1;
          top: -48px;

          @include media-breakpoint-down(sm) {
            top: -10px;
          }

          &:hover {
            transform: scale(1.6);
            z-index: 12;
          }
        }
      }
    }
  }
}


/*  Hamburger
------------------------------------------------------*/
#hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: .6rem;
  top: 18px;
  left: auto;
  z-index: 9999;
  width: 30px;
	padding: 5px;
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  .line {
    display: block;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    margin: 5px 0;
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    transition: all 420ms ease-in-out;
  }

  &.active {
    .line-1 {
      top: 4px;
      transform: rotate(45deg)
    }

    .line-2 {
      top: -3px;
      transform: rotate(-45deg)
    }
  }
}

#hamburger,
#hamburger span {
  bottom: auto;
  transition: all .4s ease;
}

body {
  &.scrolling-init {
    #hamburger {
      right: 8px;
      top: 1px;
    }
  }
}
