/* Top Header
--------------------------------------------------------*/
.header-top {
  background-color: $brand-primary;
  color: #FFF;
  padding: 5px 1.5rem;
  height: 38px;
  position: relative;
  z-index: 12;
  transition: all 300ms ease;

  @include media-breakpoint-down(sm) {
    padding: 5px .8rem;
  }
}

/* Diamond
--------------------------------------------------------*/
.top-diamond-logo {
  width: 48px;
  height: auto;
  position: absolute;
  left: 50%;
  top: -50px;
  bottom: auto;
  margin-left: -20px;
  display: block;
  transition: all 300ms ease-in-out;
  transform: scale(1);
  transform: rotate(0deg);

  @include media-breakpoint-down(sm) {
    width: 40px;
    margin-left: -16px;
  }

  svg,
  path {
    position: relative;
    fill: #FFFFFF;
    z-index: 2;
  }

  &:hover {
    transform: rotate(-10deg);
  }
}

//search open
.header-top {
  &.search-open {
    .top-diamond-logo {
      top: -50px !important;

      @include media-breakpoint-down(sm) {
        top: 2px !important;
      }

      @include media-breakpoint-down(sm) {
        top: 0 !important;
      }
    }
  }
}


body {
  &.scrolling-init {
    .header-top {
      .top-diamond-logo {
        top: 0;
        @include media-breakpoint-down(sm) {
          top: 2px !important;
        }
      }
    }
  }
}

/* Search form
--------------------------------------------------------*/
.wrap-search-form {
  position: absolute;
  top: -60px;
  right: auto;
  bottom: auto;
  width: 320px;
  left: 50%;
  margin-left: -160px;
  transition: all 300ms ease;
  z-index: 15;

  @include media-breakpoint-down(md) {
    width: 280px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
    transition: none;
    margin: 0;
    top: 0;
    width: 100%;
    left: 0;
    position: relative;
    padding: 5px 15px 0;
    height: 40px;
    background-color: $brand-red;
  }

  label {
    display: block;
  }

  .screen-reader-text {
    display: none;
  }

  &.is-open {
    top: 4px;

    @include media-breakpoint-down(sm) {
      top: 0;
    }
  }

  input[type="search"] {
    width: 100%;
    border-color: #f1f1f1;
  }
}


/* nav left
--------------------------------------------------------*/
.top-nav-left {
  float: left;
  margin: 0;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      float: left;

      a {
        font-size: 14px;
        color: #FFFFFF;

        @include media-breakpoint-down(sm) {
          font-size: 12px;
        }
      }

      &::after {
        content: "|";
        margin: 0 6px;
        font-size: 12px;
        position: relative;
        top: -2px;
        opacity: .8;
        color: #FFFFFF;

        @include media-breakpoint-down(sm) {
          margin: 0 4px;
          font-size: 9px;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

/* nav right
--------------------------------------------------------*/
.top-nav-right {
  float: right;
  margin: 1px 0 0 0;
  height: auto;

  .user-nav {
    margin: 0;
    padding: 0;

    .icon-link {
      float: left;
      list-style-type: none;
      position: relative;
      padding: 0 10px;

      @include media-breakpoint-down(sm) {
        padding: 0 7px;
      }

      a {
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }
    }
  }

  .account-nav {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    display: block;
    border: 1px solid #dcdcdc;
    position: absolute;
    top: 40px;
    right: -59px;
    width: 220px;
    padding: .2rem 1rem;
    display: none;
    z-index: 10;

    @include media-breakpoint-down(sm) {
      padding: .2rem .5rem;
      width: 150px;
      right: -10px;
      top: 40px;
    }

    &::before,
    &::after {
      bottom: 100%;
      left: 158px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;

      @include media-breakpoint-down(sm) {
        left: 144px;
      }
    }

    &::after {
    	border-color: rgba(136, 183, 213, 0);
    	border-bottom-color: #F8F8F8;
    	border-width: 10px;
    	margin-left: -30px;
    }

    &::before {
    	border-color: rgba(220, 220, 220, 0);
    	border-bottom-color: #dcdcdc;
    	border-width: 12px;
    	margin-left: -32px;
    }

    li {
      list-style-type: none;
      display: block;
      border-bottom: 1px solid #dcdcdc;

      a {
        font-weight: 600;
        color: #333;
        line-height: 1.1;
        padding: 10px 1px;
        display: block;
        transition: all 260ms ease;
        font-size: 14px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;

        @include media-breakpoint-down(sm) {
          font-size: 12px;
          padding: 8px 0;
        }

        &:hover {
          left: 2px;
          color: $brand-primary;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &.active {
        > a {
          color: $brand-primary;
        }
      }
    }
  }
}


/* icons
--------------------------------------------------------*/
.top-nav-right {
  .account-cart-counter {
    position: absolute;
    width: 100%;
    height: 19px;
    line-height: 19px;
    color: #FFF;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    text-align: center;
    transition: all 800ms ease;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      top: 8px;
      font-size: 11px;
    }
  }

  .icon {
    position: relative;
    background-size: contain;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -99999px;
    transition: all 300ms ease;
    transform: scale(1);
    opacity: 1;
    text-align: center;

    &:hover {
      opacity: 0.9;
      transform: scale(1.1);
    }
  }

  .icon-account {
    top: 1px;
    width: 22px;
    height: 31px;
    display: block;
    background-image: url('../images/icon-account.png');

    @include media-breakpoint-down(sm) {
      width: 20px;
      height: 36px;
    }
  }

  .icon-wishlist {
    top: 2px;
    width: 25px;
    height: 28px;
    display: block;
    background-image: url('../images/icon-heart3.png');
    background-position: center 0;
    letter-spacing: 0;
    text-indent: 0 !important;
    color: #FFF;
    line-height: 1.1;

    span {
      position: relative;
      font-size: 10px;
      top: -2px;
    }

    @include media-breakpoint-down(sm) {
      width: 20px;
      height: 30px;
    }
  }

  .icon-cart {
    top: -1px;
    width: 21px;
    height: 28px;
    display: block;
    background-image: url('../images/icon-cart.png');
    position: relative;
    z-index: 2;
    text-indent: 0 !important;

    @include media-breakpoint-down(sm) {
      width: 19px;
      height: 26px;
    }
  }

  .icon-search {
    top: 4px;
    width: 20px;
    height: 21px;
    display: block;
    background-image: url('../images/icon-search.png');

    @include media-breakpoint-down(sm) {
      width: 18px;
      height: 19px;
    }
  }
}
