#sbi_load {
	margin-top: 1rem;
}

.sbi_load_btn {
	@extend .btn;
	@extend .button;

	text-transform: uppercase;
}

.sbi_item {
	border-right: 8px solid $bg_color;
	border-bottom: 8px solid $bg_color;

	@include media-breakpoint-down(xs) {
		width: 50% !important;
		height: 170px !important;
	}
}


/*------------------------------------------------------------------------------
			INSTAGRAM FEED
------------------------------------------------------------------------------*/
/*Instagram Wrapper*/
#instagram-feed {
	position: relative;
}

/*Instagram Header*/
#wrap-insta-feed .sbcnt-inst-heading-wrapper {
    background-color: #00274d;
    padding: 85px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

#wrap-insta-feed .sbcnt-inst-heading::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 3px;
    margin: 3px auto 0;
}

#wrap-insta-feed .sbcnt-inst-heading {
    color: #fff;
    display: inline-block;
    font-size: 2.375em;
    font-weight: 700;
    text-transform: uppercase;
}

/*Instagram Buttons*/
#instagram-feed button {
	backface-visibility: hidden;
    background: transparent;
    border: medium none;
    outline: 0;
    color: #FFF;
    font-size: 4.57143em;
    height: 100%;
    padding: 0;
    position: absolute;
    text-transform: none;
    top: 0;
    z-index: 20;
    transition: all 0.2s ease 0s;
}

#instagram-feed .sbcnt-inst-prev {
	left: 2%;
}

#instagram-feed .sbcnt-inst-next {
	right: 2%;
}

/*Instagram Slide*/
#instagram-feed .slick-slide {
	width: 100%;
}

#instagram-feed .sbcnt-inst-item {
	background-position: center center;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;

	display: block;
	position: relative;
	height: 400px;
	margin: 0;
	padding: 0;
}

/*Instagram Slide info - text*/
#instagram-feed .info {
    height: 100%;
    min-height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    transition: all 0.2s ease 0s;

    background-color: rgba(#000, .9);
}

#instagram-feed .sbcnt-inst-item:hover .info,
#instagram-feed .sbcnt-inst-item:focus .info {
	opacity: 1;
}

#instagram-feed .sbcnt-inst-link {
	color: #FFF;
	text-decoration: none;
	display: block;
}

#instagram-feed .sbcnt-inst-caption {
    color: #fff;
    font-size: 1.3125em;
    font-weight: normal;
    display: block;
    margin: 15px 20px;
}

#instagram-feed .sbcnt-inst-handle {
    color: #00274d;
    font-size: 1.375em;
    font-weight: 700;
    line-height: 1.1;
    margin: 20px 50px;
    text-transform: uppercase;
}
