
//Roses home
.home {
  .intro-text {
    .wrap {
      &::before,
      &::after {
        content: "";
        display: block;
        width: 100px;
        height: 100%;
        min-height: 100%;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 14px;
        bottom: auto;
        //Animation
        opacity: 0;
        transition: all .8s ease .1s;
        transform: scale(.6);
      }
    }
  }
}

.home {
  .intro-text {
    .wrap {
      &::before {
        left: 0;
        right: auto;
        background-image: url('../images/rose-left.jpg');
      }

      &::after {
        left: auto;
        right: 0;
        background-image: url('../images/rose-right.jpg');
      }
    }
  }
}


//animations
.home {
  .intro-text {
    p,h1,h2 {
      opacity: 0;
      transition: all 1.4s ease .4s;
      transform: scale(.4);
    }

    &.element-visible {
      p,h1,h2 {
        opacity: 1;
        transform: scale(1);
      }

      .wrap {
        &::before,
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}



.intro-text {
  padding: 3rem 100px;
  text-align: center;
  position: relative;
  background-color: #FFF;

  &::after {
    @include section-border;
  }

  h1,p,h2,h3,h4 {
    color: #000;
    line-height: 1.4;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 500;
    text-transform: inherit;
  }
}

/*Mobile*/
@media (max-width: 767px) {
  .home {
    .intro-text {
      .wrap {
        &::before,
        &::after {
          top: 10px;
          width: 60px;
        }
      }
    }
  }

  .intro-text {
    padding: 1.5rem 70px;

    h1,p,h2,h3,h4 {
      font-size: 28px;
    }
  }
}
