.lookbook-product-info {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 8px 36px 4px;
  z-index: 30;
  width: 110px;
  text-align: right;
  border-radius: 8px 0 0 0;

  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
    color: #000;
  }

  .price,
  .title,
  .buy-now {
    color: #000;
    display: block;
  }

  .title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
  }

  .price {
    font-weight: 200;
    font-size: 14px;
  }

  .buy-now {
    font-size: 12px;
  }
}

.brand-slideshow {
  .arrow {
    display: none !important;
  }

  .slick-dots {
    bottom: 0;
    right: 0;
    z-index: 40;
    text-align: right;
    padding-right: 6px;

    span {
      border-color: #dcdcdc;
      height: 16px;
      width: 16px;
      margin: 2px;
      border-width: 2px;

      &::after {
        background-color: #dcdcdc;
        width: 14px;
        height: 14px;
        margin: -7px 0 0 -7px;
      }
    }
  }
}

/*  Image
-------------------------------------------------*/
.brand-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  filter: brightness(0) invert(1);
}

.lookbook-entry-content {
  padding: 2rem 2rem 0 2rem;
  text-align: center;
}

.download-pdf {
  padding: 2rem 0;
  text-align: center;
}

/*  Brand
-------------------------------------------------*/
.brand-alpha {
  border: 1px solid $border;

  .slide-item {
    position: relative;
  }
}


/*  Gallery
-------------------------------------------------*/
.gallery-1 {
  width:100%;
}

.gallery-2,
.gallery-3,
.gallery-7,
.gallery-8 {
  width: 50%;
  float: left;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.gallery-4,
.gallery-5,
.gallery-6,
.gallery-9,
.gallery-10,
.gallery-11 {
  width: 33.3333%;
  float: left;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}


/*  Post nav
-------------------------------------------------*/
#post-nav {
  .all {
    font-weight: 600;
    line-height: 1.1;
  }

  .item {
    width: 33.333%;
    padding: 1rem 0;
    color: #999;

    &.prev-post,
    &.next-post {
      @include media-breakpoint-down(sm) {
        width: 41%;
      }
    }

    &.all {
      @include media-breakpoint-down(sm) {
        width: 18%;
      }
    }

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }

    @include media-breakpoint-down(xs) {
      padding: .5rem 0;
    }

    &:hover {
      text-decoration: none;
      color: #000;
    }

    h4 {
      margin: 0;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }
  }
}

.call-to-action {
  border-top: 1px solid #f6f7f7;
  border-bottom: 1px solid #f6f7f7;
  width: 100%;

  .item {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
    background-color: #fafbfb;
    padding: 6rem 0;
    transition: all .6s ease;
  }
}

@media (max-height:900px) {

  .brand-template-default {
    .page-header {
      &.alpha {
        height:100vh;
      }
    }
  }
}
