
body {
  &.single-lookbook,
  &.lookbook-gallery, //js class
  &.lookbook,
  &.our-lookbook {
    .page-content,
    .page-wrapper {
      padding: 0 !important;
    }
  }
}

/*  Grid
------------------------------------------------------*/
.brands-grid {
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap;
}

.single-lookbook .page-wrapper > div.clearfix {
	display: flex;
	flex-wrap: wrap;
}

.lookbook-gallery .page-header-container .header-wrap-desc {
	background-color: transparent;
}


/*  Item
------------------------------------------------------*/
.brands-item {
  width: 33.3333%;

  @include media-breakpoint-down(sm) {
    width: 50%;
  }

  .item {
    align-items: center;
    border: 1px solid #f6f7f7;
    background-color: rgba(#191919,.6);
    height: 360px;
    text-align: center;
    transition: all 800ms ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      height: 320px;
    }

    @include media-breakpoint-down(xs) {
      height: 240px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      min-height: 100%;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(#000,.4);
      z-index: 1;
      opacity: 1;
      transition: all 600ms ease;
    }

    &.bg-contain {
      &::after {
        background-color: rgba(#000,.3);
      }
    }

    //Image
    .title {
      display: inline-block;
      padding: 1rem;
      color: #FFF;
      position: absolute;
      width: 100%;
      transition: all 400ms ease;
      opacity: 1;
      position: relative;
      z-index: 2;

      @include media-breakpoint-down(sm) {
        font-size: 22px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 20px;
      }
    }

    .wrap-hover {
      position: absolute;
      width: 100%;
      opacity: 0;
      z-index: 1;
      transition: opacity 400ms ease .1;
    }

    //Diamond
    svg {
      max-width: 40%;

      path,
      rect,
      circle,
      ellipse,
      polyline {
        fill: #000;
        stroke: #000;
        transition: fill-opacity 900ms ease 1.4s; //stroke opacity
        fill-opacity: 0;
      }
    }

    .view-lookbook {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      position: relative;
      left: -14px;
      top: -6px;
      color: #000;
      opacity: 0;
      transition: all 400ms ease .2s;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }
  }
}

/*  Item
------------------------------------------------------*/
.brands-item {
  .item {
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #fbfbfb;
      background-image: none;
      background-position: 0 240%;

      .wrap-hover,
      .view-lookbook {
        z-index: 3;
        opacity: 1;
        text-decoration: none;
      }

      .title {
        opacity: 0;
      }

      &::after {
        background-color: rgba(#f6f7f7,1);
      }

      svg {
        path,
        rect,
        circle,
        ellipse,
        polyline {
          stroke-width: 1;
          stroke-dasharray: 870;
          stroke-dashoffset: 870;
          //fill-opacity: 1;
          animation: drawsvg 2s ease-in-out 400ms alternate 1 both; //4900 delay
        }
      }
    }
  }
}
