
/*  Posts wrapper
------------------------------------------------------*/
.posts-wrapper {
  padding: 0;
  text-align:justify;

  .paging-content {
    margin: 0;
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
    }
  }

  .post {
    zoom: 1;
    width: 29.8%;
    margin: 0 1.7% 4%;
    display:inline-block;
    position:relative;
    font-size: 18px;
    background: #FFF;
    transition: all 600ms ease;

    @include media-breakpoint-down(sm) {
      width: 46.5%;
    }

    &:after {
      content:"";
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:100%;
      background-color: #191919;
      opacity:0;
      z-index:1;
      transition: all 600ms ease;
    }

    img {
      max-width:100%;
      heigth:auto;
      display:inline-block;
    }

    header {
      position:absolute;
      width:100%;
      left:0;
      top: 0;
      height: 100%;
      min-height: 100%;
      text-align: center;
      opacity:0;
      z-index:2;
      color:#FFF;
      padding:0 1rem;
      transition: all 600ms ease;
      display: flex;
      align-items: center;
      justify-content: center;

      time {
        font-size:12px;
        font-weight:300;
      }
    }

    .entry-title {
      font-size: 14px;
      margin-bottom: 0.4rem;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }

    .read-more {
      position:absolute;
      width:100%;
      bottom:10%;
      left:0;
      font-size: 12px;
      text-align:center;
      z-index:2;
      opacity:0;
      color:#FFF;
      font-weight: 200;
      transition: all 600ms ease;
    }

    &.active,
    &:hover {
      &:after,
      header,
      .read-more {
        opacity:1;
      }
    }
  }
}


/*  Pagination
------------------------------------------------------*/
.nav-previous {
  width:100%;
  padding:0 0 2rem;
  text-align:center;

  a {
    position:relative;
  }

  .css-loader {
    opacity:0;
    position:absolute;
    right: -36px;
    left: auto;
    top: 8px;
    font-size: 6px;
  }
}

#paging {
  a {
    @extend .btn;
    @extend .button;
  }

  &.active {
    .css-loader { opacity:1; }
    a { background-color:#000; }
  }
}



/*  Single
------------------------------------------------------*/
.single-post {
  .page-header {
    height:280px;
    background-color:#000;

    h1 {
      display:none;
    }
  }

  #append-post {
    height:100%;
  }
}

#append-post {
  .post {
    .entry-title {
      font-size: 2rem;

      @include media-breakpoint-down(sm) {
        font-size: 26px;
      }
    }
  }
}


/*  Append post
------------------------------------------------------*/
.append-post {
  margin-bottom: 4rem;
}


#append-post {
  height:0;
  min-height: 0;
  max-height: 0;
  overflow:hidden;
  transition: all 1.8s linear;

  &.animate-post {
    height: 100%;
    min-height: 0;
    max-height: 6000px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  header {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 30px;
  }

  .img-wrap {
    padding-right: 1.3rem;
    margin-bottom: 2rem;
  }

  .post-wrapper {
    padding-left: 1.3rem;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  .entry-content {
    padding-top: 2rem;
    margin-bottom: 3rem;
  }
}

#main-header {
  &.loader {
    .top-diamond-logo {
      top: 0;
      animation: heartbit .3s ease infinite 0s alternate both running;
    }
  }
}
