/* Main site content wrapper
---------------------------------------------------------------*/
.site-container-content {
  transform: translateX(0);
  transition: transform .5s .25s cubic-bezier(.87, -.41, .19, 1);
  &::after {
    content: '';
    opacity: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    margin: 0;
    background-color: rgba(0, 0, 0, .75);
    transition: opacity .5s .25s ease;
  }

  &.menu-open {
    transform: translateX(430px);
    transition: transform .5s cubic-bezier(.87, .41, .19, 1.44);
    &::after {
      opacity: 1;
      transition: opacity .5s ease;
    }
  }
}

/* Shopping Cart container
---------------------------------------------------------------*/
.site-container-cart {
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999;
  }
  &.menu-open {
    &::before {
      opacity: 1;
    }
  }
}
