
/* SVG draw
---------------------------------------------------------------*/
@keyframes drawsvg { to { stroke-dashoffset: 0; } }


/* Rotate
---------------------------------------------------------------*/
@keyframes roatateCartWheel {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* @Extend classes
---------------------------------------------------------------*/
//Fade in
.animation-fadeinandup {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fadeInandUp;
  animation-direction: alternate;
}

.animation-fadein {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fadeInandUp;
  animation-direction: alternate;
}

//Fade Out
.animation-fadeout {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fadeOut;
  animation-direction: alternate;
}

.animation-scaleIn {
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: scaleIn;
  animation-direction: alternate;
}

/*  Init
------------------------------------------------------------------------*/
.visible-el {
  &.fadeInandUp {
    opacity: 0;
  }

  &.element-visible {
    animation-duration: 1.2s;
    animation-delay: .5s;

    &.fadeInandUp {
      @extend .animation-fadeinandup;
    }
  }
}

.main {
  .visible-show-first {

    img {
      transform: scale(1);
    }

    &:first-of-type {
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: fadeIn;
      animation-direction: alternate;
      animation-duration: .1s;
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
  }
}

/*  Page Reload
------------------------------------------------------------------------*/
.page-reload-transition {
  animation-duration: .3s;
  animation-delay: 0s;
  @extend .animation-fadeout;
}


/*  Fade in
------------------------------------------------------------------------*/
@keyframes scaleIn {
  0%   { opacity: 0; transform: scale(0.6); }
  50%   { opacity: 0.8; transform: scale(1.2); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes fadeInandUp {
  0%   { opacity: 0; transform: translateY(50%); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


@keyframes heartbit {
  0% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(1);
  }
}
