/*  Backgrounds
------------------------------------------------------------------*/
.bg-cover {
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
}

.bg-contain {
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center center;
}

.bg-fixed {
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-position: center center;
}

/* Reset for mobile */
@media (max-width: 1030px) {
  .bg-fixed {
    background-attachment: inherit;
  }
}

.bg-primary-whisk {
  background: $brand-primary; // addition of whisk to class name as those Bootstrap bastards used !important on an unnested carousel class
}

.bg-secondary-whisk {
  background: $brand-secondary; // addition of whisk to class name as those Bootstrap bastards used !important on an unnested carousel class
}

.bg-black {
  background: #000;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-gray {
  background: $gray;
}

.bg-gray-light {
  background: $gray-light;
}

.bg-gray-lighter {
  background: $gray-lighter;
}

.bg-gray-lightest {
  background: $gray-lightest;
}

.bg-white {
  background: #fff;
}
