// Global Styles
body {
  background-color: $bg_color;
  text-rendering: optimizeLegibility;
}

/* Parallax
--------------------------------------------------------*/
.rellax-wrapper {
  overflow: hidden;
  width: 100%;

  .rellax-init {
    width: 100%;
  }
}

/* Grid
--------------------------------------------------------*/
.grid-system-container {
  @extend .container;
  position: relative;
  z-index: 10;
  background-color: #FFF;
}

.grid-system-container-child {
  margin-top: -45px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: #FFF;
}

.grid-add-styles {
  margin-top: 3rem;
  padding: 1.5rem 1rem;
}

.grid-top-padding {
  padding-top: 166px;

  @include media-breakpoint-down(sm) {
    padding-top: 102px;
  }
}


/* @extend
--------------------------------------------------------*/
.underline {
  position: relative;
  margin-bottom: 30px !important;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 1px;
    background-color: #000;
    height: 3px;
    width: 40px;
  }
}

/* Header active
--------------------------------------------------------*/
.fx-page-header-global-active,
.fx-page-header-active {
  @extend .grid-top-padding;

  .main-content[role="document"] {
    padding-top: 0;
  }

  &:not(.home) {
    .page-content {
      @include media-breakpoint-up(lg) {
        max-width: 1280px;
      }

      @extend .grid-system-container;

      .page-wrapper {
        @extend .grid-system-container-child;
      }
    }
  }
}


/* header empty
--------------------------------------------------------*/
body {
  &:not(.home){
    &.fx-page-header-empty {

      .main-content[role="document"] {
        @extend .grid-top-padding;
      }

      .page-content {
        @extend .grid-system-container;
        @extend .grid-add-styles;
      }

      &.error404,
      &.search-results {

      }
    }
  }
}


/* Tags
--------------------------------------------------------*/
ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

a:link {
  cursor: pointer;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    outline: none;
  }
}

blockquote {
  padding-top: 15px;
  padding-left: 45px;
  padding-bottom: 15px;
  font-style: italic;
  &::before {
    margin-left: -36px;
    font-family: FontAwesome;
    font-size: 24px;
    content: '\f10d';
  }
  p {
    :first-child {
      margin-top: -26px;
    }
  }
}
