// Mixins
@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin scale($scale) {
  transform: scale($scale);
}

@mixin transition($duration) {
  backface-visibility: hidden;
  transition: all $duration ease;
}

@mixin br($radius) {
  border-radius: $radius;
}

/* Used to verticaly position an element inside a fixed height element
------------------------------------------------------------------*/
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}


/* Used to verticaly position an element inside a fixed height element
------------------------------------------------------------------*/
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

/* Grandient Mixins
 --------------------------------------------------------------------*/
@mixin footer-bg-gradient() {
  background: linear-gradient(116deg, $oxford-blue 0%, $oxford-blue 58%, $atomic 58.1%, $atomic 72%, $mirage 72.1%);

  @include media-breakpoint-up(md) {
    background: linear-gradient(116deg, $oxford-blue 0%, $oxford-blue 68%, $atomic 68.1%, $atomic 76%, $mirage 76.1%);
  }

  @include media-breakpoint-up(lg) {
    background: linear-gradient(116deg, $oxford-blue 0%, $oxford-blue 87%, $atomic 87.1%, $atomic 92.5%, $mirage 92.5%);
  }

  @include media-breakpoint-up(xl) {
    background: linear-gradient(116deg, $oxford-blue 0%, $oxford-blue 89%, $atomic 89.1%, $atomic 93.5%, $mirage 93.5%);
  }
}

@mixin bi-color-bg-gradient($percentage: 58%, $color_one: $atomic, $color_two: $oxford-blue, $angle: 104deg) {
  background: linear-gradient($angle, $color_one 0%, $color_one $percentage, $color_two $percentage);
}

/* Border Mixins
 --------------------------------------------------------------------*/
@mixin section-border($color: $border-color) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: $color;
  content: '';
  @include media-breakpoint-up(lg) {
    height: 14px;
  }
}

/*  border line
 --------------------------------------------------------------------*/
@mixin title-border($margin: 15px, $color: $brand-primary, $height: 3px, $max-width: 90px) {
  display: block;
  width: 200px;
  height: $height;
  max-width: $max-width;
  background-color: #FFF;
  margin-top: $margin;
  content: '';
}
