/*  Center elements - list - vertical-center
------------------------------------------------------------------*/
.cul {
  position: relative;
  width: 100%;
  overflow: hidden;

  ul {
    position: relative;
    left: 50%;
    float: left;
    text-align: center;
    clear: left;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      right: 50%;
      display: block;
      float: left;
    }
  }
}

/* Center element */
.mauto {
  margin-left: auto;
  margin-right: auto;
}

/* Vertical center */
.vcenter-outer {
  display: table;
  width: 100%;
  height: 100%;

  .vcenter-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

/* Flex
------------------------------------------------------------------*/

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

// Vertical Alignment

.flex-align-top {
  align-items: flex-start;
}
.flex-align-bottom {
  align-items: flex-end;
}
.flex-align-center {
  align-items: center;
}
.flex-align-stretch {
  align-items: stretch;
}
.flex-align-baseline {
  align-items: baseline;
}
