/* Typography
------------------------------------------------------------------*/
.the-macambre {
  font-family: $font-family-one !important;
  font-weight: normal !important;
  font-size: 42px;
  letter-spacing: 1px;

  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }
}

.txt-primary {
  color: $brand-primary;
}

.txt-secondary {
  color: $brand-secondary;
}

.txt-light {
  color: $light-text;
}

.txt-dark {
  color: $dark-text;
}

.txt-lg {
  font-size: $font-size-lg;
}

.txt-sm {
  font-size: $font-size-sm;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

.h1 {
  font-weight: 700;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}
