
/*  Show - hide
------------------------------------------------------------------*/
.hide {
  display: none;
}

.scrolloff {
  pointer-events: none;
}

.no-pointer {
  pointer-events: none; // Use for items with no pointer events
}

.no-click {
  a {
    cursor: default; // Use for items with no click to retain hover, see JS
  }
  ul {
    li {
      a {
        cursor: pointer;
      }
    }
  }
}


.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}


/*  Spinner - Loader
------------------------------------------------------------------*/
.css-loader {
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  text-indent: -9999em;
  position: absolute;

  border-top: .5em solid rgba(#000, .4);
  border-right: .5em solid rgba(#000, .4);
  border-bottom: .5em solid rgba(#000, .4);
  border-left: .5em solid rgba(#000,.9);

  transform: translateZ(0);
  animation: cssSpinner 1.1s infinite linear;
}

.css-loader,
.css-loader::after {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

@keyframes cssSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*   iOS - Reset styles for forms
------------------------------------------------------------------*/
.webkit-styles-reset {
  border-radius: 0;
  appearance: none;
}

/* Removing bullet points and FontAwesome bullet styling from lists
------------------------------------------------------------------*/
.no-bullet {
  list-style: none;
  li {
    list-style: none;
    &::before,
    &::after {
      content: '';
    }
  }
}


/*Centered list*/
.cul {
  width:100%;
  overflow:hidden;
  position:relative;

  ul {
    clear:left;
    float:left;
    position:relative;
    left:50%;
    text-align:center;
    list-style:none;
    margin:0;
    padding:0;

    li {
      display:block;
      float:left;
      position:relative;
      right:50%;
    }
  }
}

/* Center element */
.mauto{
  margin-left:auto;
  margin-right:auto;
}

/* Unselect */
.unselectable{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Vertical center */
.vcenter-outer {
    display: table;
    height: 100%;
    width: 100%;

    .vcenter-inner {
        display: table-cell;
        vertical-align: middle;
    }
}

/*Reset styles for forms*/
.webkit-styles-reset {
  appearance: none;
  border-radius: 0;
  box-shadow:none;
}

/* Flexible img */
.flexible-img {
  img {
    max-width: 100%;
    height: auto;
  }
}


.entry-content-asset {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe,
  video  {
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
   }
}
