//Variables

// Colors
$brand-primary:             #111111; //#090909;//#f05656; //remove default
$brand-primary-light:       lighten($brand-primary, 10%);
$brand-primary-dark:        darken($brand-primary, 10%);
$brand-secondary:           #cb3ba2; //remove default
$brand-secondary-light:     lighten($brand-secondary, 10%);
$brand-secondary-dark:      darken($brand-secondary, 10%);
$brand-red:                 #f05656;
$stars_bg:  #170535;

$brand-primary-darker:      #e35858;
$bg_color: #f6f6f6; //#f1f9f9;

$border-darker: #c5c4c4;
$border: #dcdcdc;
$border-lighter: rgba(#dcdcdc,.9);

//Preloader
$preloader_bg:              $brand-primary;
$preloader_color:           #FFFFFF;

//spider
$spider-size: 100px;
$leg-size: 40px;

// Grayscale
$gray-dark:                 #292b2c; //remove default
$gray:                      #464a4c; //remove default
$gray-light:                #636c72; //remove default
$gray-lighter:              #eceeef; //remove default
$gray-lightest:             #f7f7f9; //remove default
$cart_text:                 #f7f7f9;

// Options

$enable-flex:               true;
$inverted:                  #dadcdd;

// Body

$body-bg:                   #fff; //remove default
$body-color:                $gray-dark; //remove default

// Fonts

$font-family-sans-serif:    'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-one:    'TheMacabre', serif;

$font-size-root:            18px; //remove default

$font-size-base:            1rem; //remove default
$font-size-lg:              1.25rem; //remove default
$font-size-sm:              .875rem; //remove default
$font-size-xs:              .75rem; //remove default

$headings-font-weight:      500; //remove default

$line-height-base:          1.444444; //remove default

$font-size-h1:              2.25rem; //remove default
$font-size-h2:              1.875rem; //remove default
$font-size-h3:              1.375rem; //remove default
$font-size-h4:              1rem; //remove default
$font-size-h5:              .85rem; //remove default
$font-size-h6:              .75rem; //remove default

$small-font-size:           1rem; //remove default

// Font colors

$light-text:                #f2f2f2; //remove default
$dark-text:                 #020202; //remove default

//Decoration
$border-color:              rgba(0, 0, 0, .25); //remove default
$shadow-color:              rgba(0, 0, 0, .2); //remove default
