/*  Page header
------------------------------------------*/
.page-header {
  height: 72vh;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(md) {
    height: 480px;
  }

  @include media-breakpoint-down(sm) {
    height: 360px;
  }

  @include media-breakpoint-down(xs) {
    height: 240px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000,.6);
    z-index: 1;
  }
}


/*  Inner info 2
------------------------------------------*/
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;

  @include media-breakpoint-down(md) {
    height: 480px;
  }

  @include media-breakpoint-down(sm) {
    height: 360px;
  }

  @include media-breakpoint-down(xs) {
    height: 250px;
  }

  .header-wrap-desc {
    position: relative;
    right: auto;
    top: auto;
    bottom: auto;
    background-color: rgba(0,0,0,.5);
    transition: all 800ms ease 0.1s;
    opacity: 1;
    margin:0;
    width: 40%;
    padding: 1rem;

    @include media-breakpoint-down(md) {
      width: 360px;
      padding: .6rem;
    }

    @include media-breakpoint-down(sm) {
      width: 320px;
      padding: .5rem;
    }

    @include media-breakpoint-down(xs) {
      width: 240px;
    }

    .title {
      margin-bottom: 1rem;
      color: #FFF;
      font-size: 42px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 32px;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: .4rem;
        font-size: 24px;
      }
    }

    .button {
      margin-top: 1.5rem;
      margin-bottom: .4rem;

      @include media-breakpoint-down(md) {
        margin-top: .5rem;
      }
    }

    .header-editor-desc {
      color: #FFF;

      h1,h2,h3,h4,h5,p {
        color: #FFF;
        line-height: 1.4;
        font-weight: normal;
        font-size: 18px;
        margin: 0;

        @include media-breakpoint-down(md) {
          font-size: 16px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }

        @include media-breakpoint-down(xs) {
          font-size: 12px;
          .button {
            font-size: 12px;
          }
        }
      }
    }

    p {
      font-size: 22px;
      color:#FFF;

      @include media-breakpoint-down(md) {
        font-size: 18px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      color: #FFF;
    }
  }
}


/*  Video
------------------------------------------*/
.page-header-bg-video {
  .page-header-container {
    position: absolute;
    z-index: 3;
    width: 100%;
  }
}

/*  Icon
------------------------------------------*/
.icon-page-header {
  width: 100px;
  height: 100px;
  border: 3px solid #ccc;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(#000000,.3);
  margin-left: auto;
  margin-right: auto;
  opacity: .9;
  display: none;
  transition: all 540ms ease 1.2s;
  opacity: 0;
  transform: scale(.2);
  top: 40px;
  bottom: auto;
  left: 0;
  right: auto;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

body {
  &.loaded {
    .icon-page-header {
      top: 0;
      transform: scale(1);
      opacity: 1;
    }
  }
}

/*  Lookbook
------------------------------------------*/
.single-lookbook {
  .page-header {
    height: 80vh;

    @include media-breakpoint-down(md) {
      height: 50vh;
    }

    @include media-breakpoint-down(sm) {
      height: 40vh;
    }
  }
}


/*  Inner info
------------------------------------------*/
.inner-page-header {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    padding: 0 4rem;

    @include media-breakpoint-up(lg) {
      padding: 0 10rem;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: .2rem;
      position: relative;
      top: -25px;
    }
  }

  .page-title {
    color: #FFF;
    text-transform: uppercase;
    @extend .h1;
    line-height: 1.1;
    position: relative;
    z-index: 2;

    @include media-breakpoint-down(sm) {
      margin-bottom: .2rem;
    }
  }

  .desc {
    color: #FFF;

    p,a,h1,h2,h3,h4 {
      color: #FFF;
    }

    h1,h2,h3,h4 {
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }

    p {
      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }
  }
}




/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {}
