
/* Slideshow
--------------------------------------------------------*/
.header-slideshow {
  position: relative;
  height: 80vh;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    height: 480px;
  }

  @include media-breakpoint-down(sm) {
    height: 360px;
  }

  @include media-breakpoint-down(xs) {
    height: 300px;

    .slick-dots {
      bottom: 0;
    }
  }

  .header-wrap-desc {
    opacity: 0;
    transform: translateX(140px);
  }

  .slide-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 50%;
    transition: opacity 600ms ease;
    cursor: grab;

    &.slick-active {
      .header-wrap-desc {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}


/* Loader
--------------------------------------------------------*/
.header-slideshow {
  .css-loader {
    position: absolute;
    left: 47%;
    top: 47%;
  }

  .slide-item,
  .arrow {
    opacity: 0;
  }

  &.loaded {
    height:auto;

    .css-loader {
      display: none;
    }

    .slide-item,
    .arrow {
      opacity: 1;
    }
  }
}
